N8N get Workflow Details With Tags/N8N get Workflow Details With Tags.json
{
    "name": "N8N get Workflow Details With Tags | Should be active",
    "flow": [
        {
            "id": 26,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 482015,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "get workflow webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 5,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://automation.offertizer.com/api/v1/workflows",
                "gzip": true,
                "method": "get",
                "headers": [
                    {
                        "name": "X-N8N-API-KEY",
                        "value": "n8n_api_26c0f6d4037d0b02e3d43e0ed3e4e90794a881972470af1a783c00bdcbdf46ff6113a51a7bcce15b"
                    },
                    {
                        "name": "accept",
                        "value": "application/json"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300,
                    "name": "Get all Workflow"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 1359900
            },
            "mapper": {
                "base": "appQuSVMDia8nRosT",
                "table": "tblXAwVKKGXnjJxUl",
                "record": {
                    "fldHFNe1WeXGBMebq": "{{now}}",
                    "fldbisd1ItVN6BLS4": "N8N get Webflow "
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300,
                    "name": "Set Started Running"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Automation Supervisor Base"
                        },
                        "table": {
                            "label": "Log Table",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldbisd1ItVN6BLS4",
                                            "type": "text",
                                            "label": "Scenario"
                                        },
                                        {
                                            "name": "fldHFNe1WeXGBMebq",
                                            "time": true,
                                            "type": "date",
                                            "label": "Date Start Executed"
                                        },
                                        {
                                            "name": "fldHdWhiYlMJNewXG",
                                            "time": true,
                                            "type": "date",
                                            "label": "Date End Executed"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "rhgroupdevb(API 2024)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldbisd1ItVN6BLS4",
                                "type": "text",
                                "label": "Scenario"
                            },
                            {
                                "name": "fldHFNe1WeXGBMebq",
                                "time": true,
                                "type": "date",
                                "label": "Date Start Executed"
                            },
                            {
                                "name": "fldHdWhiYlMJNewXG",
                                "time": true,
                                "type": "date",
                                "label": "Date End Executed"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "Scenario",
                        "type": "text",
                        "label": "Scenario"
                    },
                    {
                        "name": "Date Start Executed",
                        "time": true,
                        "type": "date",
                        "label": "Date Start Executed"
                    },
                    {
                        "name": "Date End Executed",
                        "time": true,
                        "type": "date",
                        "label": "Date End Executed"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "array": "{{5.data.data}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 20,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "tags",
                                "scope": "roundtrip",
                                "value": "{{emptystring}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "tags",
                                        "type": "any",
                                        "label": "tags"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 17,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 150
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 16,
                                            "module": "builtin:BasicFeeder",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "array": "{{7.tags}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "array": {
                                                            "mode": "edit"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "array",
                                                        "spec": [],
                                                        "type": "array",
                                                        "label": "Array"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 22,
                                            "module": "util:GetVariable2",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "name": "tags"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 0
                                                },
                                                "restore": {},
                                                "expect": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Variable name",
                                                        "required": true
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "tags",
                                                        "type": "any",
                                                        "label": "tags"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 18,
                                            "module": "airtable:ActionSearchRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 1359900
                                            },
                                            "mapper": {
                                                "base": "appQuSVMDia8nRosT",
                                                "table": "tbl3WERd1uLaO19SH",
                                                "fields": [
                                                    "Name"
                                                ],
                                                "formula": "{Name} = \"{{16.name}}\"",
                                                "maxRecords": "1",
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 0,
                                                    "name": "Searh tag"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "base": {
                                                            "mode": "chose",
                                                            "label": "Automation Supervisor Base"
                                                        },
                                                        "sort": {
                                                            "mode": "chose"
                                                        },
                                                        "view": {
                                                            "mode": "chose"
                                                        },
                                                        "table": {
                                                            "mode": "chose",
                                                            "label": "Tags"
                                                        },
                                                        "fields": {
                                                            "mode": "chose",
                                                            "label": [
                                                                "Name"
                                                            ]
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable2"
                                                            },
                                                            "label": "rhgroupdevb(API 2024)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "formula",
                                                        "type": "text",
                                                        "label": "Formula"
                                                    },
                                                    {
                                                        "name": "maxRecords",
                                                        "type": "integer",
                                                        "label": "Limit"
                                                    },
                                                    {
                                                        "name": "sort",
                                                        "spec": [
                                                            {
                                                                "name": "field",
                                                                "type": "select",
                                                                "label": "Field",
                                                                "dynamic": true,
                                                                "options": []
                                                            },
                                                            {
                                                                "name": "direction",
                                                                "type": "select",
                                                                "label": "Direction",
                                                                "options": [
                                                                    {
                                                                        "label": "Descending",
                                                                        "value": "desc"
                                                                    },
                                                                    {
                                                                        "label": "Ascending",
                                                                        "value": "asc"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Sort"
                                                    },
                                                    {
                                                        "name": "view",
                                                        "type": "select",
                                                        "label": "View"
                                                    },
                                                    {
                                                        "name": "fields",
                                                        "type": "select",
                                                        "label": "Output Fields",
                                                        "multiple": true
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "__IMTLENGTH__",
                                                        "type": "uinteger",
                                                        "label": "Total number of bundles"
                                                    },
                                                    {
                                                        "name": "__IMTINDEX__",
                                                        "type": "uinteger",
                                                        "label": "Bundle order position"
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 25,
                                            "module": "airtable:upsertRecord",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 1359900
                                            },
                                            "mapper": {
                                                "base": "appQuSVMDia8nRosT",
                                                "table": "tbl3WERd1uLaO19SH",
                                                "record": {
                                                    "fldSB29nJB6M6MKfN": "{{16.name}}"
                                                },
                                                "recordId": "{{18.id}}",
                                                "typecast": false,
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3000,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "base": {
                                                            "label": "Automation Supervisor Base"
                                                        },
                                                        "table": {
                                                            "label": "Tags"
                                                        },
                                                        "record": {
                                                            "nested": {
                                                                "fldqhVifvU1bPwqDO": {
                                                                    "mode": "chose"
                                                                },
                                                                "fldrVQcRjnqwVVh6p": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        },
                                                        "typecast": {
                                                            "mode": "chose"
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable2"
                                                            },
                                                            "label": "rhgroupdevb(API 2024)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "recordId",
                                                        "type": "text",
                                                        "label": "Record ID"
                                                    },
                                                    {
                                                        "name": "record",
                                                        "spec": [
                                                            {
                                                                "name": "fldSB29nJB6M6MKfN",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "fldrVQcRjnqwVVh6p",
                                                                "spec": {
                                                                    "name": "value",
                                                                    "label": "Record ID"
                                                                },
                                                                "type": "array",
                                                                "label": "Workflow"
                                                            },
                                                            {
                                                                "name": "fldqhVifvU1bPwqDO",
                                                                "spec": {
                                                                    "name": "value",
                                                                    "label": "Record ID"
                                                                },
                                                                "type": "array",
                                                                "label": "Project"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "Workflow",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "Workflow"
                                                    },
                                                    {
                                                        "name": "Project",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "Project"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 21,
                                            "module": "util:SetVariable2",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "name": "tags",
                                                "scope": "roundtrip",
                                                "value": "{{if(22.tags = emptystring; 18.id; 22.tags + \",\" + 18.id)}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3300,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "scope": {
                                                            "label": "One cycle"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Variable name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "scope",
                                                        "type": "select",
                                                        "label": "Variable lifetime",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "roundtrip",
                                                                "execution"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Variable value"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "tags",
                                                        "type": "any",
                                                        "label": "tags"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 24,
                                            "module": "util:GetVariable2",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "name": "tags"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2100,
                                                    "y": 300
                                                },
                                                "restore": {},
                                                "expect": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Variable name",
                                                        "required": true
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "tags",
                                                        "type": "any",
                                                        "label": "tags"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 10,
                                            "module": "airtable:ActionSearchRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 1359900
                                            },
                                            "mapper": {
                                                "base": "appQuSVMDia8nRosT",
                                                "table": "tblp3PALg3AQZj7xS",
                                                "fields": [
                                                    "Name",
                                                    "Workflow Name",
                                                    "Active",
                                                    "Version ID",
                                                    "Trigger Count"
                                                ],
                                                "formula": "{Workflow ID} = \"{{7.id}}\"",
                                                "maxRecords": "1",
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 300,
                                                    "name": "Searh Workflow"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "base": {
                                                            "mode": "chose",
                                                            "label": "Automation Supervisor Base"
                                                        },
                                                        "sort": {
                                                            "mode": "chose"
                                                        },
                                                        "view": {
                                                            "mode": "chose"
                                                        },
                                                        "table": {
                                                            "mode": "chose",
                                                            "label": "Webflows"
                                                        },
                                                        "fields": {
                                                            "mode": "chose",
                                                            "label": [
                                                                "Name",
                                                                "Workflow Name",
                                                                "Active",
                                                                "Version ID",
                                                                "Trigger Count"
                                                            ]
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable2"
                                                            },
                                                            "label": "rhgroupdevb(API 2024)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "formula",
                                                        "type": "text",
                                                        "label": "Formula"
                                                    },
                                                    {
                                                        "name": "maxRecords",
                                                        "type": "integer",
                                                        "label": "Limit"
                                                    },
                                                    {
                                                        "name": "sort",
                                                        "spec": [
                                                            {
                                                                "name": "field",
                                                                "type": "select",
                                                                "label": "Field",
                                                                "dynamic": true,
                                                                "options": []
                                                            },
                                                            {
                                                                "name": "direction",
                                                                "type": "select",
                                                                "label": "Direction",
                                                                "options": [
                                                                    {
                                                                        "label": "Descending",
                                                                        "value": "desc"
                                                                    },
                                                                    {
                                                                        "label": "Ascending",
                                                                        "value": "asc"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Sort"
                                                    },
                                                    {
                                                        "name": "view",
                                                        "type": "select",
                                                        "label": "View"
                                                    },
                                                    {
                                                        "name": "fields",
                                                        "type": "select",
                                                        "label": "Output Fields",
                                                        "multiple": true
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "__IMTLENGTH__",
                                                        "type": "uinteger",
                                                        "label": "Total number of bundles"
                                                    },
                                                    {
                                                        "name": "__IMTINDEX__",
                                                        "type": "uinteger",
                                                        "label": "Bundle order position"
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "Workflow Name",
                                                        "type": "text",
                                                        "label": "Workflow Name"
                                                    },
                                                    {
                                                        "name": "Active",
                                                        "type": "text",
                                                        "label": "Active"
                                                    },
                                                    {
                                                        "name": "Version ID",
                                                        "type": "text",
                                                        "label": "Version ID"
                                                    },
                                                    {
                                                        "name": "Trigger Count",
                                                        "type": "text",
                                                        "label": "Trigger Count"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 8,
                                            "module": "airtable:upsertRecord",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 1359900
                                            },
                                            "mapper": {
                                                "base": "appQuSVMDia8nRosT",
                                                "table": "tblp3PALg3AQZj7xS",
                                                "record": {
                                                    "fld0Cx2Uu0grhhlLs": "{{24.tags}}",
                                                    "fld6Y2dFQISOxMqSS": "{{7.versionId}}",
                                                    "fldV1lGMQgfkajT1j": "{{7.id}}",
                                                    "fldVPhWBIcKzwP2b8": "{{if(7.active; \"Yes\"; \"No\")}}",
                                                    "fldgaDW6HwPhQM1hP": "{{7.triggerCount}}",
                                                    "fldjKF88Z8Lvqip3W": "{{7.createdAt}}",
                                                    "fldrzYGESaEkRmXmX": "{{7.name}}",
                                                    "flduHL7ZPBbgNGchr": "{{7.updatedAt}}"
                                                },
                                                "recordId": "{{10.id}}",
                                                "typecast": false,
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 300,
                                                    "name": "Create/Update Workflow"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "base": {
                                                            "label": "Automation Supervisor Base"
                                                        },
                                                        "table": {
                                                            "label": "Workflow"
                                                        },
                                                        "record": {
                                                            "nested": {
                                                                "fld0Cx2Uu0grhhlLs": {
                                                                    "mode": "edit"
                                                                },
                                                                "fldNsPfoE7WpX5sS5": {
                                                                    "mode": "edit"
                                                                },
                                                                "fldUzYavwFdh1eoIC": {
                                                                    "mode": "chose"
                                                                },
                                                                "fldVPhWBIcKzwP2b8": {
                                                                    "mode": "edit"
                                                                },
                                                                "fldX1UINtRW9dzT04": {
                                                                    "mode": "edit"
                                                                },
                                                                "fldq64XG3iJINT1mM": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        },
                                                        "typecast": {
                                                            "mode": "chose"
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable2"
                                                            },
                                                            "label": "rhgroupdevb(API 2024)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "recordId",
                                                        "type": "text",
                                                        "label": "Record ID"
                                                    },
                                                    {
                                                        "name": "record",
                                                        "spec": [
                                                            {
                                                                "name": "fldV1lGMQgfkajT1j",
                                                                "type": "text",
                                                                "label": "Workflow ID"
                                                            },
                                                            {
                                                                "name": "fldrL1qyXQFxxmKjI",
                                                                "type": "text",
                                                                "label": "N8N Server"
                                                            },
                                                            {
                                                                "name": "fldrqONOoDyVWzYEt",
                                                                "time": true,
                                                                "type": "date",
                                                                "label": "Last Checked Failed Executions Time"
                                                            },
                                                            {
                                                                "mode": "edit",
                                                                "name": "fldNsPfoE7WpX5sS5",
                                                                "type": "select",
                                                                "label": "Download executions"
                                                            },
                                                            {
                                                                "name": "fldrzYGESaEkRmXmX",
                                                                "type": "text",
                                                                "label": "Workflow Name"
                                                            },
                                                            {
                                                                "mode": "edit",
                                                                "name": "fldVPhWBIcKzwP2b8",
                                                                "type": "select",
                                                                "label": "Active"
                                                            },
                                                            {
                                                                "name": "fld6Y2dFQISOxMqSS",
                                                                "type": "text",
                                                                "label": "Version ID"
                                                            },
                                                            {
                                                                "name": "fldgaDW6HwPhQM1hP",
                                                                "type": "text",
                                                                "label": "Trigger Count"
                                                            },
                                                            {
                                                                "name": "fldUzYavwFdh1eoIC",
                                                                "spec": {
                                                                    "name": "value",
                                                                    "label": "Record ID"
                                                                },
                                                                "type": "array",
                                                                "label": "Executions"
                                                            },
                                                            {
                                                                "name": "fldq64XG3iJINT1mM",
                                                                "spec": {
                                                                    "name": "value",
                                                                    "label": "Record ID"
                                                                },
                                                                "type": "array",
                                                                "label": "Project"
                                                            },
                                                            {
                                                                "name": "fldCDdDJrQYPgaDHT",
                                                                "type": "text",
                                                                "label": "Description"
                                                            },
                                                            {
                                                                "name": "fldjKF88Z8Lvqip3W",
                                                                "time": true,
                                                                "type": "date",
                                                                "label": "Workflow createdAt"
                                                            },
                                                            {
                                                                "name": "flduHL7ZPBbgNGchr",
                                                                "time": true,
                                                                "type": "date",
                                                                "label": "Workflow updatedAt"
                                                            },
                                                            {
                                                                "name": "fld0Cx2Uu0grhhlLs",
                                                                "spec": {
                                                                    "name": "value",
                                                                    "label": "Record ID"
                                                                },
                                                                "type": "array",
                                                                "label": "tags"
                                                            },
                                                            {
                                                                "name": "fldvNjHFHUWjWon9I",
                                                                "type": "text",
                                                                "label": "M/Lan comments"
                                                            },
                                                            {
                                                                "name": "fldqcXiOGKV4ykpOf",
                                                                "time": true,
                                                                "type": "date",
                                                                "label": "Last Workflow Details Download"
                                                            },
                                                            {
                                                                "mode": "edit",
                                                                "name": "fldX1UINtRW9dzT04",
                                                                "type": "select",
                                                                "label": "Priority? "
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "Workflow ID",
                                                        "type": "text",
                                                        "label": "Workflow ID"
                                                    },
                                                    {
                                                        "name": "N8N Server",
                                                        "type": "text",
                                                        "label": "N8N Server"
                                                    },
                                                    {
                                                        "name": "Workflow Link",
                                                        "spec": [
                                                            {
                                                                "name": "label",
                                                                "type": "text",
                                                                "label": "Label"
                                                            },
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Workflow Link"
                                                    },
                                                    {
                                                        "name": "Last Checked Failed Executions Time",
                                                        "time": true,
                                                        "type": "date",
                                                        "label": "Last Checked Failed Executions Time"
                                                    },
                                                    {
                                                        "name": "Download executions",
                                                        "type": "text",
                                                        "label": "Download executions"
                                                    },
                                                    {
                                                        "name": "Workflow Name",
                                                        "type": "text",
                                                        "label": "Workflow Name"
                                                    },
                                                    {
                                                        "name": "Active",
                                                        "type": "text",
                                                        "label": "Active"
                                                    },
                                                    {
                                                        "name": "Version ID",
                                                        "type": "text",
                                                        "label": "Version ID"
                                                    },
                                                    {
                                                        "name": "Trigger Count",
                                                        "type": "text",
                                                        "label": "Trigger Count"
                                                    },
                                                    {
                                                        "name": "Executions",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "Executions"
                                                    },
                                                    {
                                                        "name": "Project",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "Project"
                                                    },
                                                    {
                                                        "name": "Last failed execution",
                                                        "type": "array",
                                                        "label": "Last failed execution"
                                                    },
                                                    {
                                                        "name": "Last execution's status",
                                                        "type": "array",
                                                        "label": "Last execution's status"
                                                    },
                                                    {
                                                        "name": "Description",
                                                        "type": "text",
                                                        "label": "Description"
                                                    },
                                                    {
                                                        "name": "Workflow createdAt",
                                                        "time": true,
                                                        "type": "date",
                                                        "label": "Workflow createdAt"
                                                    },
                                                    {
                                                        "name": "Workflow updatedAt",
                                                        "time": true,
                                                        "type": "date",
                                                        "label": "Workflow updatedAt"
                                                    },
                                                    {
                                                        "name": "tags",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "tags"
                                                    },
                                                    {
                                                        "name": "M/Lan comments",
                                                        "type": "text",
                                                        "label": "M/Lan comments"
                                                    },
                                                    {
                                                        "name": "Last Workflow Details Download",
                                                        "time": true,
                                                        "type": "date",
                                                        "label": "Last Workflow Details Download"
                                                    },
                                                    {
                                                        "name": "Priority? ",
                                                        "type": "text",
                                                        "label": "Priority? "
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 11,
                                            "module": "http:ActionSendData",
                                            "version": 3,
                                            "parameters": {
                                                "handleErrors": false,
                                                "useNewZLibDeCompress": true
                                            },
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{7.`__IMTLENGTH__`}}",
                                                            "b": "{{7.`__IMTINDEX__`}}",
                                                            "o": "text:equal"
                                                        },
                                                        {
                                                            "a": "{{5.data.nextCursor}}",
                                                            "b": "{{emptystring}}",
                                                            "o": "text:notequal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "ca": "",
                                                "qs": [
                                                    {
                                                        "name": "cursor",
                                                        "value": "{{5.data.nextCursor}}"
                                                    }
                                                ],
                                                "url": "https://hook.eu2.make.com/r5flthowfci3zvj70jlek2esxau01rxl",
                                                "gzip": true,
                                                "method": "get",
                                                "headers": [],
                                                "timeout": "",
                                                "useMtls": false,
                                                "authPass": "",
                                                "authUser": "",
                                                "bodyType": "",
                                                "serializeUrl": false,
                                                "shareCookies": false,
                                                "parseResponse": false,
                                                "followRedirect": true,
                                                "useQuerystring": false,
                                                "followAllRedirects": false,
                                                "rejectUnauthorized": true
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3000,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "qs": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "method": {
                                                            "mode": "chose",
                                                            "label": "GET"
                                                        },
                                                        "headers": {
                                                            "mode": "chose"
                                                        },
                                                        "bodyType": {
                                                            "label": "Empty"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "handleErrors",
                                                        "type": "boolean",
                                                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useNewZLibDeCompress",
                                                        "type": "hidden"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "serializeUrl",
                                                        "type": "boolean",
                                                        "label": "Serialize URL",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "method",
                                                        "type": "select",
                                                        "label": "Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "get",
                                                                "head",
                                                                "post",
                                                                "put",
                                                                "patch",
                                                                "delete",
                                                                "options"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers"
                                                    },
                                                    {
                                                        "name": "qs",
                                                        "spec": [
                                                            {
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Query String"
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "validate": {
                                                            "enum": [
                                                                "raw",
                                                                "x_www_form_urlencoded",
                                                                "multipart_form_data"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "parseResponse",
                                                        "type": "boolean",
                                                        "label": "Parse response",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "authUser",
                                                        "type": "text",
                                                        "label": "User name"
                                                    },
                                                    {
                                                        "name": "authPass",
                                                        "type": "password",
                                                        "label": "Password"
                                                    },
                                                    {
                                                        "name": "timeout",
                                                        "type": "uinteger",
                                                        "label": "Timeout",
                                                        "validate": {
                                                            "max": 300,
                                                            "min": 1
                                                        }
                                                    },
                                                    {
                                                        "name": "shareCookies",
                                                        "type": "boolean",
                                                        "label": "Share cookies with other HTTP modules",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "ca",
                                                        "type": "cert",
                                                        "label": "Self-signed certificate"
                                                    },
                                                    {
                                                        "name": "rejectUnauthorized",
                                                        "type": "boolean",
                                                        "label": "Reject connections that are using unverified (self-signed) certificates",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "followRedirect",
                                                        "type": "boolean",
                                                        "label": "Follow redirect",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useQuerystring",
                                                        "type": "boolean",
                                                        "label": "Disable serialization of multiple same query string keys as arrays",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "gzip",
                                                        "type": "boolean",
                                                        "label": "Request compressed content",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useMtls",
                                                        "type": "boolean",
                                                        "label": "Use Mutual TLS",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "followAllRedirects",
                                                        "type": "boolean",
                                                        "label": "Follow all redirect",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 15,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 1359900
                            },
                            "mapper": {
                                "id": "{{14.id}}",
                                "base": "appQuSVMDia8nRosT",
                                "table": "tblXAwVKKGXnjJxUl",
                                "record": {
                                    "fldHdWhiYlMJNewXG": "{{now}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 600,
                                    "name": "Set End Running"
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Automation Supervisor Base"
                                        },
                                        "table": {
                                            "label": "Log Table"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "rhgroupdevb(API 2024)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldbisd1ItVN6BLS4",
                                                "type": "text",
                                                "label": "Scenario"
                                            },
                                            {
                                                "name": "fldHFNe1WeXGBMebq",
                                                "time": true,
                                                "type": "date",
                                                "label": "Date Start Executed"
                                            },
                                            {
                                                "name": "fldHdWhiYlMJNewXG",
                                                "time": true,
                                                "type": "date",
                                                "label": "Date End Executed"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "Scenario",
                                        "type": "text",
                                        "label": "Scenario"
                                    },
                                    {
                                        "name": "Date Start Executed",
                                        "time": true,
                                        "type": "date",
                                        "label": "Date Start Executed"
                                    },
                                    {
                                        "name": "Date End Executed",
                                        "time": true,
                                        "type": "date",
                                        "label": "Date End Executed"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}