97038. Generate calendar resource records for the Personlig Kalender - SHOULD BE ACTIVE (2024 API)/97038. Generate calendar resource records for the Personlig Kalender - SHOULD BE ACTIVE (2024 API).json
{
    "name": "97038. Generate calendar resource records for the Personlig Kalender - SHOULD BE ACTIVE (2024 API)",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 38892,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Generate calendar resource for personal booking"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "auto_number",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2311364
            },
            "mapper": {
                "base": "appbFT84h3VCspXEX",
                "table": "Personlig Kalender",
                "formula": "{Auto Number} = {{1.auto_number}}",
                "maxRecords": "1",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300,
                    "name": "Search Personlig Kalender"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Homestyling.se"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Personlig Kalender"
                        },
                        "fields": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "homestyling OATH (User ID: usrqfoHur4casC5Tt)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Kalender Text",
                        "type": "text",
                        "label": "Kalender Text"
                    },
                    {
                        "name": "Event StartTid",
                        "time": true,
                        "type": "date",
                        "label": "Event StartTid"
                    },
                    {
                        "name": "Event EndTid",
                        "time": true,
                        "type": "date",
                        "label": "Event EndTid"
                    },
                    {
                        "name": "Resurser",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Resurser"
                    },
                    {
                        "name": "Event Text",
                        "type": "text",
                        "label": "Event Text"
                    },
                    {
                        "name": "Projekt",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Projekt"
                    },
                    {
                        "name": "Attachments",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "Generate Calendar Resource",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Generate Calendar Resource"
                    },
                    {
                        "name": "Tags",
                        "type": "text",
                        "label": "Tags"
                    },
                    {
                        "name": "Projekt Unikt ID",
                        "type": "array",
                        "label": "Projekt Unikt ID"
                    },
                    {
                        "name": "Creator",
                        "type": "text",
                        "label": "Creator"
                    },
                    {
                        "name": "Linked Resurs Kalender",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Linked Resurs Kalender"
                    },
                    {
                        "name": "Calendar Resource Status",
                        "type": "text",
                        "label": "Calendar Resource Status"
                    },
                    {
                        "name": "Auto Number",
                        "type": "number",
                        "label": "Auto Number"
                    },
                    {
                        "name": "Resurser copy",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Resurser copy"
                    },
                    {
                        "name": "Resurser copy 2",
                        "type": "text",
                        "label": "Resurser copy 2"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2311364
            },
            "filter": {
                "name": "Exists?",
                "conditions": [
                    [
                        {
                            "a": "{{2.`__IMTLENGTH__`}}",
                            "b": "1",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "id": "{{2.id}}",
                "base": "appbFT84h3VCspXEX",
                "table": "Personlig Kalender",
                "record": {
                    "fldCm8vHDgEkeeomQ": "Uppdatera Resurs Kalender"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300,
                    "name": "Set Calendar Resource Status"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Homestyling.se"
                        },
                        "table": {
                            "label": "Personlig Kalender"
                        },
                        "record": {
                            "nested": {
                                "fldCm8vHDgEkeeomQ": {
                                    "mode": "edit"
                                },
                                "fldIaBSyTKiBXP3yt": {
                                    "mode": "chose"
                                },
                                "fldYyOzbCMaujPmtR": {
                                    "mode": "chose"
                                },
                                "fldcJ8FNinA7PcHjP": {
                                    "mode": "chose"
                                },
                                "fldczxZPkskCFzoG0": {
                                    "mode": "edit"
                                },
                                "fldd22hP6kduHmQK8": {
                                    "mode": "chose"
                                },
                                "fldnYgXITa6wuVMBk": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "homestyling OATH (User ID: usrqfoHur4casC5Tt)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldQFKjMrUka6NDiG",
                                "time": true,
                                "type": "date",
                                "label": "Event StartTid"
                            },
                            {
                                "name": "fld4RndvCYDFdQQOw",
                                "time": true,
                                "type": "date",
                                "label": "Event EndTid"
                            },
                            {
                                "name": "fldnYgXITa6wuVMBk",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Resurser"
                            },
                            {
                                "name": "fldT2RrWY96Gq9qrs",
                                "type": "text",
                                "label": "Event Text"
                            },
                            {
                                "name": "fldcJ8FNinA7PcHjP",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Projekt"
                            },
                            {
                                "name": "fldd22hP6kduHmQK8",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "Attachments"
                            },
                            {
                                "mode": "edit",
                                "name": "fldczxZPkskCFzoG0",
                                "type": "select",
                                "label": "Tags"
                            },
                            {
                                "name": "fldIaBSyTKiBXP3yt",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Linked Resurs Kalender"
                            },
                            {
                                "mode": "edit",
                                "name": "fldCm8vHDgEkeeomQ",
                                "type": "select",
                                "label": "Calendar Resource Status"
                            },
                            {
                                "name": "fldYyOzbCMaujPmtR",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Resurser copy"
                            },
                            {
                                "name": "fldTK9J9ki4MKqwRB",
                                "type": "text",
                                "label": "Resurser copy 2"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldQFKjMrUka6NDiG",
                                "time": true,
                                "type": "date",
                                "label": "Event StartTid"
                            },
                            {
                                "name": "fld4RndvCYDFdQQOw",
                                "time": true,
                                "type": "date",
                                "label": "Event EndTid"
                            },
                            {
                                "name": "fldnYgXITa6wuVMBk",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Resurser"
                            },
                            {
                                "name": "fldT2RrWY96Gq9qrs",
                                "type": "text",
                                "label": "Event Text"
                            },
                            {
                                "name": "fldcJ8FNinA7PcHjP",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Projekt"
                            },
                            {
                                "name": "fldd22hP6kduHmQK8",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "Attachments"
                            },
                            {
                                "mode": "edit",
                                "name": "fldczxZPkskCFzoG0",
                                "type": "select",
                                "label": "Tags"
                            },
                            {
                                "name": "fldIaBSyTKiBXP3yt",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Linked Resurs Kalender"
                            },
                            {
                                "mode": "edit",
                                "name": "fldCm8vHDgEkeeomQ",
                                "type": "select",
                                "label": "Calendar Resource Status"
                            },
                            {
                                "name": "fldYyOzbCMaujPmtR",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Resurser copy"
                            },
                            {
                                "name": "fldTK9J9ki4MKqwRB",
                                "type": "text",
                                "label": "Resurser copy 2"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Kalender Text",
                        "type": "text",
                        "label": "Kalender Text"
                    },
                    {
                        "name": "Event StartTid",
                        "time": true,
                        "type": "date",
                        "label": "Event StartTid"
                    },
                    {
                        "name": "Event EndTid",
                        "time": true,
                        "type": "date",
                        "label": "Event EndTid"
                    },
                    {
                        "name": "Resurser",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Resurser"
                    },
                    {
                        "name": "Event Text",
                        "type": "text",
                        "label": "Event Text"
                    },
                    {
                        "name": "Projekt",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Projekt"
                    },
                    {
                        "name": "Attachments",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "Generate Calendar Resource",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Generate Calendar Resource"
                    },
                    {
                        "name": "Tags",
                        "type": "text",
                        "label": "Tags"
                    },
                    {
                        "name": "Projekt Unikt ID",
                        "type": "array",
                        "label": "Projekt Unikt ID"
                    },
                    {
                        "name": "Creator",
                        "type": "text",
                        "label": "Creator"
                    },
                    {
                        "name": "Linked Resurs Kalender",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Linked Resurs Kalender"
                    },
                    {
                        "name": "Calendar Resource Status",
                        "type": "text",
                        "label": "Calendar Resource Status"
                    },
                    {
                        "name": "Auto Number",
                        "type": "number",
                        "label": "Auto Number"
                    },
                    {
                        "name": "Resurser copy",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Resurser copy"
                    },
                    {
                        "name": "Resurser copy 2",
                        "type": "text",
                        "label": "Resurser copy 2"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2311364
            },
            "mapper": {
                "base": "appbFT84h3VCspXEX",
                "view": "viwYRvujmkUFFqp6g",
                "table": "Personlig Kalender",
                "maxRecords": "10",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 300,
                    "name": "Search Personlig Kalender from View"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Homestyling.se"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose",
                            "label": "Automation - Calendar Resource"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Personlig Kalender"
                        },
                        "fields": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "homestyling OATH (User ID: usrqfoHur4casC5Tt)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Kalender Text",
                        "type": "text",
                        "label": "Kalender Text"
                    },
                    {
                        "name": "Event StartTid",
                        "time": true,
                        "type": "date",
                        "label": "Event StartTid"
                    },
                    {
                        "name": "Event EndTid",
                        "time": true,
                        "type": "date",
                        "label": "Event EndTid"
                    },
                    {
                        "name": "Resurser",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Resurser"
                    },
                    {
                        "name": "Event Text",
                        "type": "text",
                        "label": "Event Text"
                    },
                    {
                        "name": "Projekt",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Projekt"
                    },
                    {
                        "name": "Attachments",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "Generate Calendar Resource",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Generate Calendar Resource"
                    },
                    {
                        "name": "Tags",
                        "type": "text",
                        "label": "Tags"
                    },
                    {
                        "name": "Projekt Unikt ID",
                        "type": "array",
                        "label": "Projekt Unikt ID"
                    },
                    {
                        "name": "Creator",
                        "type": "text",
                        "label": "Creator"
                    },
                    {
                        "name": "Linked Resurs Kalender",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Linked Resurs Kalender"
                    },
                    {
                        "name": "Calendar Resource Status",
                        "type": "text",
                        "label": "Calendar Resource Status"
                    },
                    {
                        "name": "Auto Number",
                        "type": "number",
                        "label": "Auto Number"
                    },
                    {
                        "name": "Resurser copy",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Resurser copy"
                    },
                    {
                        "name": "Resurser copy 2",
                        "type": "text",
                        "label": "Resurser copy 2"
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "builtin:BasicRouter",
            "version": 1,
            "filter": {
                "name": "Exists?",
                "conditions": [
                    [
                        {
                            "a": "{{4.`__IMTLENGTH__`}}",
                            "b": "0",
                            "o": "number:greater"
                        }
                    ]
                ]
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 20,
                            "module": "airtable:ActionSearchRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2311364
                            },
                            "mapper": {
                                "base": "appbFT84h3VCspXEX",
                                "table": "Resurs Kalender",
                                "formula": "{Personlig Kalender Number} = {{4.`Auto Number`}}",
                                "maxRecords": "100",
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0,
                                    "name": "Search calendar resources"
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "mode": "chose",
                                            "label": "Homestyling.se"
                                        },
                                        "sort": {
                                            "mode": "chose"
                                        },
                                        "view": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "Resurs Kalender"
                                        },
                                        "fields": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "homestyling OATH (User ID: usrqfoHur4casC5Tt)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "maxRecords",
                                        "type": "integer",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "field",
                                                "type": "select",
                                                "label": "Field",
                                                "dynamic": true,
                                                "options": []
                                            },
                                            {
                                                "name": "direction",
                                                "type": "select",
                                                "label": "Direction",
                                                "options": [
                                                    {
                                                        "label": "Descending",
                                                        "value": "desc"
                                                    },
                                                    {
                                                        "label": "Ascending",
                                                        "value": "asc"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "view",
                                        "type": "select",
                                        "label": "View"
                                    },
                                    {
                                        "name": "fields",
                                        "type": "select",
                                        "label": "Output Fields",
                                        "multiple": true
                                    },
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "maxRecords",
                                        "type": "integer",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "field",
                                                "type": "select",
                                                "label": "Field",
                                                "dynamic": true,
                                                "options": []
                                            },
                                            {
                                                "name": "direction",
                                                "type": "select",
                                                "label": "Direction",
                                                "options": [
                                                    {
                                                        "label": "Descending",
                                                        "value": "desc"
                                                    },
                                                    {
                                                        "label": "Ascending",
                                                        "value": "asc"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "view",
                                        "type": "select",
                                        "label": "View"
                                    },
                                    {
                                        "name": "fields",
                                        "type": "select",
                                        "label": "Output Fields",
                                        "multiple": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "Open Google Maps",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Open Google Maps"
                                    },
                                    {
                                        "name": "Generate Calender vrigt Task",
                                        "type": "text",
                                        "label": "Generate Calender vrigt Task"
                                    },
                                    {
                                        "name": "Resource",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Resource"
                                    },
                                    {
                                        "name": "Type of Task",
                                        "type": "text",
                                        "label": "Type of Task"
                                    },
                                    {
                                        "name": "Task Starttid",
                                        "time": true,
                                        "type": "date",
                                        "label": "Task Starttid"
                                    },
                                    {
                                        "name": "Task Sluttid",
                                        "time": true,
                                        "type": "date",
                                        "label": "Task Sluttid"
                                    },
                                    {
                                        "name": "Project",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Project"
                                    },
                                    {
                                        "name": "vrigt Task text",
                                        "type": "text",
                                        "label": "vrigt Task text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Plock vrigt Task text",
                                        "type": "text",
                                        "label": "Plock vrigt Task text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Styling vrigt Task text",
                                        "type": "text",
                                        "label": "Styling vrigt Task text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Tmning vrigt Task text",
                                        "type": "text",
                                        "label": "Tmning vrigt Task text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Utkrning vrigt Task text",
                                        "type": "text",
                                        "label": "Utkrning vrigt Task text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Personlig Kalender",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Personlig Kalender"
                                    },
                                    {
                                        "name": "Google Calender Meeting ID",
                                        "type": "text",
                                        "label": "Google Calender Meeting ID"
                                    },
                                    {
                                        "name": "Lookup Google Calender Sync Status",
                                        "type": "array",
                                        "label": "Lookup Google Calender Sync Status"
                                    },
                                    {
                                        "name": "Lookup Sync Calender Resource Task",
                                        "type": "array",
                                        "label": "Lookup Sync Calender Resource Task"
                                    },
                                    {
                                        "name": "Lookup Google Calender Username",
                                        "type": "array",
                                        "label": "Lookup Google Calender Username"
                                    },
                                    {
                                        "name": "Resurs_kalender_recordID",
                                        "type": "text",
                                        "label": "Resurs_kalender_recordID"
                                    },
                                    {
                                        "name": "google calendar status",
                                        "type": "text",
                                        "label": "google calendar status"
                                    },
                                    {
                                        "name": "vrigt Task Create Status",
                                        "type": "text",
                                        "label": "vrigt Task Create Status"
                                    },
                                    {
                                        "name": "Google Calender Description Text",
                                        "type": "text",
                                        "label": "Google Calender Description Text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "vrigt Text",
                                        "type": "text",
                                        "label": "vrigt Text"
                                    },
                                    {
                                        "name": "Project Number",
                                        "type": "array",
                                        "label": "Project Number"
                                    },
                                    {
                                        "name": "Google Maps Link",
                                        "type": "array",
                                        "label": "Google Maps Link"
                                    },
                                    {
                                        "name": "Personlig Kalender Number",
                                        "type": "array",
                                        "label": "Personlig Kalender Number"
                                    },
                                    {
                                        "name": "Field 12",
                                        "type": "text",
                                        "label": "Field 12"
                                    },
                                    {
                                        "name": "Field 13",
                                        "type": "text",
                                        "label": "Field 13"
                                    },
                                    {
                                        "name": "Field 14",
                                        "type": "text",
                                        "label": "Field 14"
                                    },
                                    {
                                        "name": "Lookup Google Calender",
                                        "type": "array",
                                        "label": "Lookup Google Calender"
                                    },
                                    {
                                        "name": "Field 31",
                                        "type": "text",
                                        "label": "Field 31"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 23,
                            "module": "airtable:ActionDeleteRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2311364
                            },
                            "filter": {
                                "name": "Exists?",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{20.`__IMTLENGTH__`}}",
                                            "b": "0",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{20.id}}",
                                "base": "appbFT84h3VCspXEX",
                                "table": "Resurs Kalender"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0,
                                    "name": "Delete calendar resources"
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "mode": "chose",
                                            "label": "Homestyling.se"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "Resurs Kalender"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "homestyling OATH (User ID: usrqfoHur4casC5Tt)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "array": "{{4.Resurser}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300,
                                    "name": "Resurser"
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "airtable:ActionGetRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2311364
                            },
                            "mapper": {
                                "id": "{{6.value}}",
                                "base": "appbFT84h3VCspXEX",
                                "table": "Resurser",
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 300,
                                    "name": "Get them from Resurs"
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "mode": "chose",
                                            "label": "Homestyling.se"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "Resurser"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "homestyling OATH (User ID: usrqfoHur4casC5Tt)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "Roll",
                                        "type": "array",
                                        "label": "Roll",
                                        "dynamic": true,
                                        "editable": true
                                    },
                                    {
                                        "name": "E-mail adress",
                                        "type": "text",
                                        "label": "E-mail adress"
                                    },
                                    {
                                        "name": "Telefonnummer",
                                        "type": "text",
                                        "label": "Telefonnummer"
                                    },
                                    {
                                        "name": "Brjat",
                                        "time": false,
                                        "type": "date",
                                        "label": "Brjat"
                                    },
                                    {
                                        "name": "Adress",
                                        "type": "text",
                                        "label": "Adress"
                                    },
                                    {
                                        "name": "Sync Resource Calender Task",
                                        "type": "text",
                                        "label": "Sync Resource Calender Task"
                                    },
                                    {
                                        "name": "faktura approved calender invite",
                                        "time": false,
                                        "type": "date",
                                        "label": "faktura approved calender invite"
                                    },
                                    {
                                        "name": "Google Calender Username",
                                        "type": "text",
                                        "label": "Google Calender Username"
                                    },
                                    {
                                        "name": "other",
                                        "type": "text",
                                        "label": "other"
                                    },
                                    {
                                        "name": "Check Calender Sync Status",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Check Calender Sync Status"
                                    },
                                    {
                                        "name": "check calendar",
                                        "type": "text",
                                        "label": "check calendar"
                                    },
                                    {
                                        "name": "check calender listing",
                                        "type": "text",
                                        "label": "check calender listing"
                                    },
                                    {
                                        "name": "check calendar timestamp",
                                        "time": true,
                                        "type": "date",
                                        "label": "check calendar timestamp"
                                    },
                                    {
                                        "name": "Check Calender Listing Time",
                                        "time": true,
                                        "type": "date",
                                        "label": "Check Calender Listing Time"
                                    },
                                    {
                                        "name": "Kostnad",
                                        "type": "number",
                                        "label": "Kostnad"
                                    },
                                    {
                                        "name": "Slutat",
                                        "time": false,
                                        "type": "date",
                                        "label": "Slutat"
                                    },
                                    {
                                        "name": "Projekt",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Projekt"
                                    },
                                    {
                                        "name": "Projekt copy",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Projekt copy"
                                    },
                                    {
                                        "name": "Projekt 2",
                                        "type": "text",
                                        "label": "Projekt 2"
                                    },
                                    {
                                        "name": "Projekt 3",
                                        "type": "text",
                                        "label": "Projekt 3"
                                    },
                                    {
                                        "name": "Projekt 4",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Projekt 4"
                                    },
                                    {
                                        "name": "Projekt 5",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Projekt 5"
                                    },
                                    {
                                        "name": "Table 12",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Table 12"
                                    },
                                    {
                                        "name": "Projekt 5 copy",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Projekt 5 copy"
                                    },
                                    {
                                        "name": "Resurs Kalender",
                                        "type": "text",
                                        "label": "Resurs Kalender"
                                    },
                                    {
                                        "name": "Resurs Kalender 2",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Resurs Kalender 2"
                                    },
                                    {
                                        "name": "Google Calender Name",
                                        "type": "text",
                                        "label": "Google Calender Name"
                                    },
                                    {
                                        "name": "Google Calender Id",
                                        "type": "text",
                                        "label": "Google Calender Id"
                                    },
                                    {
                                        "name": "Projekt 6",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Projekt 6"
                                    },
                                    {
                                        "name": "Projekt 7",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Projekt 7"
                                    },
                                    {
                                        "name": "Mklar Register",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Mklar Register"
                                    },
                                    {
                                        "name": "Projekt 8",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Projekt 8"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 25,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2311364
                            },
                            "mapper": {
                                "base": "appbFT84h3VCspXEX",
                                "table": "Resurs Kalender",
                                "record": {
                                    "fld7EsfeZP3f64LtP": [
                                        "{{7.id}}"
                                    ],
                                    "fldIdW7XJh2sCuMY9": "{{4.`Event StartTid`}}",
                                    "fldcFHbbQ9y5pQpyn": "{{4.`Event EndTid`}}",
                                    "fldwW6WqPgdrlQIhx": [
                                        "{{4.id}}"
                                    ]
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2079,
                                    "y": 305,
                                    "name": "In Resurs kalender"
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Homestyling.se"
                                        },
                                        "table": {
                                            "label": "Resurs Kalender",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fld7EsfeZP3f64LtP",
                                                            "spec": {
                                                                "label": "Record ID"
                                                            },
                                                            "type": "array",
                                                            "label": "Resource"
                                                        },
                                                        {
                                                            "name": "fldOLUKODkhnuVXpv",
                                                            "type": "text",
                                                            "label": "Type of Task"
                                                        },
                                                        {
                                                            "name": "fldIdW7XJh2sCuMY9",
                                                            "time": true,
                                                            "type": "date",
                                                            "label": "Task Starttid"
                                                        },
                                                        {
                                                            "name": "fldcFHbbQ9y5pQpyn",
                                                            "time": true,
                                                            "type": "date",
                                                            "label": "Task Sluttid"
                                                        },
                                                        {
                                                            "name": "flddLiMBt22oVN20o",
                                                            "spec": {
                                                                "label": "Record ID"
                                                            },
                                                            "type": "array",
                                                            "label": "Project"
                                                        },
                                                        {
                                                            "name": "fldMkcsX2QjPA6Bry",
                                                            "type": "text",
                                                            "label": "vrigt Task text",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "fldw92WES8mpW5m9a",
                                                            "type": "text",
                                                            "label": "Plock vrigt Task text",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "fldvW68S8fbNfMhRQ",
                                                            "type": "text",
                                                            "label": "Styling vrigt Task text",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "fldFbkxVMJpmzr32q",
                                                            "type": "text",
                                                            "label": "Tmning vrigt Task text",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "fldRVLnb4G2sn7nQ6",
                                                            "type": "text",
                                                            "label": "Utkrning vrigt Task text",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "fldwW6WqPgdrlQIhx",
                                                            "spec": {
                                                                "label": "Record ID"
                                                            },
                                                            "type": "array",
                                                            "label": "Personlig Kalender"
                                                        },
                                                        {
                                                            "name": "fldYaow6Opa6Dqst6",
                                                            "type": "text",
                                                            "label": "Google Calender Meeting ID"
                                                        },
                                                        {
                                                            "name": "fld1AjQNaeGLnXntQ",
                                                            "type": "text",
                                                            "label": "google calendar status"
                                                        },
                                                        {
                                                            "name": "fldNZz0GBp4UZxUU6",
                                                            "type": "text",
                                                            "label": "vrigt Task Create Status"
                                                        },
                                                        {
                                                            "name": "fldIL4LFfmmipVCXw",
                                                            "type": "text",
                                                            "label": "Google Calender Description Text",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "fldAXsJ9eBFjLhnlg",
                                                            "type": "text",
                                                            "label": "Field 12"
                                                        },
                                                        {
                                                            "name": "fldKQArJethfNQwS0",
                                                            "type": "text",
                                                            "label": "Field 13"
                                                        },
                                                        {
                                                            "name": "fldgpCWITcWzDfxaW",
                                                            "type": "text",
                                                            "label": "Field 14"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fld7EsfeZP3f64LtP": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                },
                                                "flddLiMBt22oVN20o": {
                                                    "mode": "chose"
                                                },
                                                "fldwW6WqPgdrlQIhx": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "homestyling OATH (User ID: usrqfoHur4casC5Tt)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fld7EsfeZP3f64LtP",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Resource"
                                            },
                                            {
                                                "name": "fldOLUKODkhnuVXpv",
                                                "type": "text",
                                                "label": "Type of Task"
                                            },
                                            {
                                                "name": "fldIdW7XJh2sCuMY9",
                                                "time": true,
                                                "type": "date",
                                                "label": "Task Starttid"
                                            },
                                            {
                                                "name": "fldcFHbbQ9y5pQpyn",
                                                "time": true,
                                                "type": "date",
                                                "label": "Task Sluttid"
                                            },
                                            {
                                                "name": "flddLiMBt22oVN20o",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Project"
                                            },
                                            {
                                                "name": "fldMkcsX2QjPA6Bry",
                                                "type": "text",
                                                "label": "vrigt Task text"
                                            },
                                            {
                                                "name": "fldw92WES8mpW5m9a",
                                                "type": "text",
                                                "label": "Plock vrigt Task text"
                                            },
                                            {
                                                "name": "fldvW68S8fbNfMhRQ",
                                                "type": "text",
                                                "label": "Styling vrigt Task text"
                                            },
                                            {
                                                "name": "fldFbkxVMJpmzr32q",
                                                "type": "text",
                                                "label": "Tmning vrigt Task text"
                                            },
                                            {
                                                "name": "fldRVLnb4G2sn7nQ6",
                                                "type": "text",
                                                "label": "Utkrning vrigt Task text"
                                            },
                                            {
                                                "name": "fldwW6WqPgdrlQIhx",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Personlig Kalender"
                                            },
                                            {
                                                "name": "fldYaow6Opa6Dqst6",
                                                "type": "text",
                                                "label": "Google Calender Meeting ID"
                                            },
                                            {
                                                "name": "fld1AjQNaeGLnXntQ",
                                                "type": "text",
                                                "label": "google calendar status"
                                            },
                                            {
                                                "name": "fldNZz0GBp4UZxUU6",
                                                "type": "text",
                                                "label": "vrigt Task Create Status"
                                            },
                                            {
                                                "name": "fldIL4LFfmmipVCXw",
                                                "type": "text",
                                                "label": "Google Calender Description Text"
                                            },
                                            {
                                                "name": "fldAXsJ9eBFjLhnlg",
                                                "type": "text",
                                                "label": "Field 12"
                                            },
                                            {
                                                "name": "fldKQArJethfNQwS0",
                                                "type": "text",
                                                "label": "Field 13"
                                            },
                                            {
                                                "name": "fldgpCWITcWzDfxaW",
                                                "type": "text",
                                                "label": "Field 14"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    },
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fld7EsfeZP3f64LtP",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Resource"
                                            },
                                            {
                                                "name": "fldOLUKODkhnuVXpv",
                                                "type": "text",
                                                "label": "Type of Task"
                                            },
                                            {
                                                "name": "fldIdW7XJh2sCuMY9",
                                                "time": true,
                                                "type": "date",
                                                "label": "Task Starttid"
                                            },
                                            {
                                                "name": "fldcFHbbQ9y5pQpyn",
                                                "time": true,
                                                "type": "date",
                                                "label": "Task Sluttid"
                                            },
                                            {
                                                "name": "flddLiMBt22oVN20o",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Project"
                                            },
                                            {
                                                "name": "fldMkcsX2QjPA6Bry",
                                                "type": "text",
                                                "label": "vrigt Task text"
                                            },
                                            {
                                                "name": "fldw92WES8mpW5m9a",
                                                "type": "text",
                                                "label": "Plock vrigt Task text"
                                            },
                                            {
                                                "name": "fldvW68S8fbNfMhRQ",
                                                "type": "text",
                                                "label": "Styling vrigt Task text"
                                            },
                                            {
                                                "name": "fldFbkxVMJpmzr32q",
                                                "type": "text",
                                                "label": "Tmning vrigt Task text"
                                            },
                                            {
                                                "name": "fldRVLnb4G2sn7nQ6",
                                                "type": "text",
                                                "label": "Utkrning vrigt Task text"
                                            },
                                            {
                                                "name": "fldwW6WqPgdrlQIhx",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Personlig Kalender"
                                            },
                                            {
                                                "name": "fldYaow6Opa6Dqst6",
                                                "type": "text",
                                                "label": "Google Calender Meeting ID"
                                            },
                                            {
                                                "name": "fld1AjQNaeGLnXntQ",
                                                "type": "text",
                                                "label": "google calendar status"
                                            },
                                            {
                                                "name": "fldNZz0GBp4UZxUU6",
                                                "type": "text",
                                                "label": "vrigt Task Create Status"
                                            },
                                            {
                                                "name": "fldIL4LFfmmipVCXw",
                                                "type": "text",
                                                "label": "Google Calender Description Text"
                                            },
                                            {
                                                "name": "fldAXsJ9eBFjLhnlg",
                                                "type": "text",
                                                "label": "Field 12"
                                            },
                                            {
                                                "name": "fldKQArJethfNQwS0",
                                                "type": "text",
                                                "label": "Field 13"
                                            },
                                            {
                                                "name": "fldgpCWITcWzDfxaW",
                                                "type": "text",
                                                "label": "Field 14"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "Open Google Maps",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Open Google Maps"
                                    },
                                    {
                                        "name": "Generate Calender vrigt Task",
                                        "type": "text",
                                        "label": "Generate Calender vrigt Task"
                                    },
                                    {
                                        "name": "Resource",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Resource"
                                    },
                                    {
                                        "name": "Type of Task",
                                        "type": "text",
                                        "label": "Type of Task"
                                    },
                                    {
                                        "name": "Task Starttid",
                                        "time": true,
                                        "type": "date",
                                        "label": "Task Starttid"
                                    },
                                    {
                                        "name": "Task Sluttid",
                                        "time": true,
                                        "type": "date",
                                        "label": "Task Sluttid"
                                    },
                                    {
                                        "name": "Project",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Project"
                                    },
                                    {
                                        "name": "vrigt Task text",
                                        "type": "text",
                                        "label": "vrigt Task text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Plock vrigt Task text",
                                        "type": "text",
                                        "label": "Plock vrigt Task text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Styling vrigt Task text",
                                        "type": "text",
                                        "label": "Styling vrigt Task text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Tmning vrigt Task text",
                                        "type": "text",
                                        "label": "Tmning vrigt Task text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Utkrning vrigt Task text",
                                        "type": "text",
                                        "label": "Utkrning vrigt Task text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Personlig Kalender",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Personlig Kalender"
                                    },
                                    {
                                        "name": "Google Calender Meeting ID",
                                        "type": "text",
                                        "label": "Google Calender Meeting ID"
                                    },
                                    {
                                        "name": "Lookup Google Calender Sync Status",
                                        "type": "array",
                                        "label": "Lookup Google Calender Sync Status"
                                    },
                                    {
                                        "name": "Lookup Sync Calender Resource Task",
                                        "type": "array",
                                        "label": "Lookup Sync Calender Resource Task"
                                    },
                                    {
                                        "name": "Lookup Google Calender Username",
                                        "type": "array",
                                        "label": "Lookup Google Calender Username"
                                    },
                                    {
                                        "name": "Resurs_kalender_recordID",
                                        "type": "text",
                                        "label": "Resurs_kalender_recordID"
                                    },
                                    {
                                        "name": "google calendar status",
                                        "type": "text",
                                        "label": "google calendar status"
                                    },
                                    {
                                        "name": "vrigt Task Create Status",
                                        "type": "text",
                                        "label": "vrigt Task Create Status"
                                    },
                                    {
                                        "name": "Google Calender Description Text",
                                        "type": "text",
                                        "label": "Google Calender Description Text",
                                        "multiline": true
                                    },
                                    {
                                        "name": "vrigt Text",
                                        "type": "text",
                                        "label": "vrigt Text"
                                    },
                                    {
                                        "name": "Project Number",
                                        "type": "array",
                                        "label": "Project Number"
                                    },
                                    {
                                        "name": "Google Maps Link",
                                        "type": "array",
                                        "label": "Google Maps Link"
                                    },
                                    {
                                        "name": "Personlig Kalender Number",
                                        "type": "array",
                                        "label": "Personlig Kalender Number"
                                    },
                                    {
                                        "name": "Field 12",
                                        "type": "text",
                                        "label": "Field 12"
                                    },
                                    {
                                        "name": "Field 13",
                                        "type": "text",
                                        "label": "Field 13"
                                    },
                                    {
                                        "name": "Field 14",
                                        "type": "text",
                                        "label": "Field 14"
                                    },
                                    {
                                        "name": "Lookup Google Calender",
                                        "type": "array",
                                        "label": "Lookup Google Calender"
                                    },
                                    {
                                        "name": "Field 31",
                                        "type": "text",
                                        "label": "Field 31"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 18,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2311364
                            },
                            "mapper": {
                                "id": "{{4.id}}",
                                "base": "appbFT84h3VCspXEX",
                                "table": "Personlig Kalender",
                                "record": {
                                    "fldCm8vHDgEkeeomQ": "Resurs Kalender Uppdaterad"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 600,
                                    "name": "Set Calendar Resource Status"
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Homestyling.se"
                                        },
                                        "table": {
                                            "label": "Personlig Kalender"
                                        },
                                        "record": {
                                            "nested": {
                                                "fldCm8vHDgEkeeomQ": {
                                                    "mode": "edit"
                                                },
                                                "fldIaBSyTKiBXP3yt": {
                                                    "mode": "chose"
                                                },
                                                "fldYyOzbCMaujPmtR": {
                                                    "mode": "chose"
                                                },
                                                "fldcJ8FNinA7PcHjP": {
                                                    "mode": "chose"
                                                },
                                                "fldczxZPkskCFzoG0": {
                                                    "mode": "edit"
                                                },
                                                "fldd22hP6kduHmQK8": {
                                                    "mode": "chose"
                                                },
                                                "fldnYgXITa6wuVMBk": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "homestyling OATH (User ID: usrqfoHur4casC5Tt)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldQFKjMrUka6NDiG",
                                                "time": true,
                                                "type": "date",
                                                "label": "Event StartTid"
                                            },
                                            {
                                                "name": "fld4RndvCYDFdQQOw",
                                                "time": true,
                                                "type": "date",
                                                "label": "Event EndTid"
                                            },
                                            {
                                                "name": "fldnYgXITa6wuVMBk",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Resurser"
                                            },
                                            {
                                                "name": "fldT2RrWY96Gq9qrs",
                                                "type": "text",
                                                "label": "Event Text"
                                            },
                                            {
                                                "name": "fldcJ8FNinA7PcHjP",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Projekt"
                                            },
                                            {
                                                "name": "fldd22hP6kduHmQK8",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "File URL"
                                                    },
                                                    {
                                                        "name": "filename",
                                                        "type": "filename",
                                                        "label": "File name"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Attachments"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldczxZPkskCFzoG0",
                                                "type": "select",
                                                "label": "Tags"
                                            },
                                            {
                                                "name": "fldIaBSyTKiBXP3yt",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Linked Resurs Kalender"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldCm8vHDgEkeeomQ",
                                                "type": "select",
                                                "label": "Calendar Resource Status"
                                            },
                                            {
                                                "name": "fldYyOzbCMaujPmtR",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Resurser copy"
                                            },
                                            {
                                                "name": "fldTK9J9ki4MKqwRB",
                                                "type": "text",
                                                "label": "Resurser copy 2"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    },
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldQFKjMrUka6NDiG",
                                                "time": true,
                                                "type": "date",
                                                "label": "Event StartTid"
                                            },
                                            {
                                                "name": "fld4RndvCYDFdQQOw",
                                                "time": true,
                                                "type": "date",
                                                "label": "Event EndTid"
                                            },
                                            {
                                                "name": "fldnYgXITa6wuVMBk",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Resurser"
                                            },
                                            {
                                                "name": "fldT2RrWY96Gq9qrs",
                                                "type": "text",
                                                "label": "Event Text"
                                            },
                                            {
                                                "name": "fldcJ8FNinA7PcHjP",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Projekt"
                                            },
                                            {
                                                "name": "fldd22hP6kduHmQK8",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "File URL"
                                                    },
                                                    {
                                                        "name": "filename",
                                                        "type": "filename",
                                                        "label": "File name"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Attachments"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldczxZPkskCFzoG0",
                                                "type": "select",
                                                "label": "Tags"
                                            },
                                            {
                                                "name": "fldIaBSyTKiBXP3yt",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Linked Resurs Kalender"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldCm8vHDgEkeeomQ",
                                                "type": "select",
                                                "label": "Calendar Resource Status"
                                            },
                                            {
                                                "name": "fldYyOzbCMaujPmtR",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Resurser copy"
                                            },
                                            {
                                                "name": "fldTK9J9ki4MKqwRB",
                                                "type": "text",
                                                "label": "Resurser copy 2"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Kalender Text",
                                        "type": "text",
                                        "label": "Kalender Text"
                                    },
                                    {
                                        "name": "Event StartTid",
                                        "time": true,
                                        "type": "date",
                                        "label": "Event StartTid"
                                    },
                                    {
                                        "name": "Event EndTid",
                                        "time": true,
                                        "type": "date",
                                        "label": "Event EndTid"
                                    },
                                    {
                                        "name": "Resurser",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Resurser"
                                    },
                                    {
                                        "name": "Event Text",
                                        "type": "text",
                                        "label": "Event Text"
                                    },
                                    {
                                        "name": "Projekt",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Projekt"
                                    },
                                    {
                                        "name": "Attachments",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File name"
                                            },
                                            {
                                                "name": "size",
                                                "type": "uinteger",
                                                "label": "Size"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "MIME type"
                                            },
                                            {
                                                "name": "thumbnails",
                                                "spec": [
                                                    {
                                                        "name": "small",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Small"
                                                    },
                                                    {
                                                        "name": "large",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Large"
                                                    },
                                                    {
                                                        "name": "full",
                                                        "spec": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL"
                                                            },
                                                            {
                                                                "name": "width",
                                                                "type": "uinteger",
                                                                "label": "Width"
                                                            },
                                                            {
                                                                "name": "height",
                                                                "type": "uinteger",
                                                                "label": "Height"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Full"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thumbnails"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "Generate Calendar Resource",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Generate Calendar Resource"
                                    },
                                    {
                                        "name": "Tags",
                                        "type": "text",
                                        "label": "Tags"
                                    },
                                    {
                                        "name": "Projekt Unikt ID",
                                        "type": "array",
                                        "label": "Projekt Unikt ID"
                                    },
                                    {
                                        "name": "Creator",
                                        "type": "text",
                                        "label": "Creator"
                                    },
                                    {
                                        "name": "Linked Resurs Kalender",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Linked Resurs Kalender"
                                    },
                                    {
                                        "name": "Calendar Resource Status",
                                        "type": "text",
                                        "label": "Calendar Resource Status"
                                    },
                                    {
                                        "name": "Auto Number",
                                        "type": "number",
                                        "label": "Auto Number"
                                    },
                                    {
                                        "name": "Resurser copy",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Resurser copy"
                                    },
                                    {
                                        "name": "Resurser copy 2",
                                        "type": "text",
                                        "label": "Resurser copy 2"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "autoCommitTriggerLast": true,
            "sequential": true,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}