pontus slack check/pontus slack check.json
{
    "name": "pontus slack check | Should be active",
    "flow": [
        {
            "id": 4,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 603984,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -965,
                    "y": 42
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "for Internal Reformatizer webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "20"
            },
            "metadata": {
                "designer": {
                    "x": -682,
                    "y": 26
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "slack:SearchMessages",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 794533
            },
            "mapper": {
                "limit": "100",
                "query": "{{4.thread_name}} in:#{{4.channel_id}}",
                "sort_dir": "asc"
            },
            "metadata": {
                "designer": {
                    "x": -385,
                    "y": 29
                },
                "restore": {
                    "expect": {
                        "sort": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "sort_dir": {
                            "mode": "chose",
                            "label": "Ascending"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "slack2"
                            },
                            "label": "integration.adgrabber (increased.lan)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:slack2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "query",
                        "type": "text",
                        "label": "Query",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "sort",
                        "type": "select",
                        "label": "Sort by",
                        "validate": {
                            "enum": [
                                "score",
                                "timestamp"
                            ]
                        }
                    },
                    {
                        "name": "sort_dir",
                        "type": "select",
                        "label": "Direction",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 771874
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{2.channel.id}}",
                            "b": "C06G7KC85H8",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "id": "{{4.recordid}}",
                "base": "appKbLcCn7f9RudIA",
                "table": "tbl8ZLdDNPpQiFpBq",
                "record": {
                    "fld57QbssuIXXjf3f": "{{2.channel.id}}",
                    "fldaTMqyJv7mpFobh": "{{2.ts}}",
                    "fldhcekyCllrsPk61": "{{2.permalink}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": -85,
                    "y": 29
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "RFM Projects (INT AND EXT)"
                        },
                        "table": {
                            "label": "RFM Task List"
                        },
                        "record": {
                            "nested": {
                                "fld3yP78wPG3kAoKt": {
                                    "mode": "chose"
                                },
                                "fld5XGtFGwCrDTQdn": {
                                    "mode": "chose"
                                },
                                "fldEDJ8MR09LA4rbh": {
                                    "mode": "edit"
                                },
                                "fldFLYqHtZL2Iqit1": {
                                    "mode": "chose"
                                },
                                "fldGbUgeX1YLLOIhR": {
                                    "mode": "edit"
                                },
                                "fldMArLI99T7HBMfQ": {
                                    "mode": "chose"
                                },
                                "fldWNky4XmhUVUfRl": {
                                    "mode": "edit"
                                },
                                "fldcMz5FItlfLeRbb": {
                                    "mode": "chose"
                                },
                                "fldetkOjDYndToVAY": {
                                    "mode": "chose"
                                },
                                "fldgeFWSl71Vi4GB4": {
                                    "mode": "edit"
                                },
                                "fldpRQwTwNjUpc9UD": {
                                    "mode": "edit"
                                },
                                "fldrRHWMR2S8k5MoO": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "tech offertizer TOKEN"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "mode": "edit",
                                "name": "fldgeFWSl71Vi4GB4",
                                "type": "select",
                                "label": "Status"
                            },
                            {
                                "mode": "edit",
                                "name": "fldGbUgeX1YLLOIhR",
                                "type": "select",
                                "label": "sync to internal dev"
                            },
                            {
                                "mode": "edit",
                                "name": "fldWNky4XmhUVUfRl",
                                "type": "select",
                                "label": "TYPE"
                            },
                            {
                                "name": "fld09DpPvS9U23Coq",
                                "type": "text",
                                "label": "ID_EXT"
                            },
                            {
                                "name": "fldniK04R9LIfkFo8",
                                "time": false,
                                "type": "date",
                                "label": "Start Date"
                            },
                            {
                                "name": "fldMArLI99T7HBMfQ",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "PM"
                            },
                            {
                                "name": "fldjKHoS8WCbvmLgG",
                                "type": "text",
                                "label": "Legacy_Short Description"
                            },
                            {
                                "name": "fldCfDTQnOnR9QI1D",
                                "type": "text",
                                "label": "Legacy_Long Description"
                            },
                            {
                                "name": "fldcMz5FItlfLeRbb",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "Attachment"
                            },
                            {
                                "name": "fld3yP78wPG3kAoKt",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "email",
                                        "type": "email",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    }
                                ],
                                "type": "array",
                                "label": "Assignee"
                            },
                            {
                                "name": "fldtZHAD48s7reNrq",
                                "time": false,
                                "type": "date",
                                "label": "End Date"
                            },
                            {
                                "name": "fldFLYqHtZL2Iqit1",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Users"
                            },
                            {
                                "name": "fldAnUG0MA5UQiYz8",
                                "type": "text",
                                "label": "Task Name"
                            },
                            {
                                "name": "flddWRoxN8HJphWJ3",
                                "type": "text",
                                "label": "Description"
                            },
                            {
                                "name": "fld5XGtFGwCrDTQdn",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Checklist"
                            },
                            {
                                "name": "fldrRHWMR2S8k5MoO",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Project"
                            },
                            {
                                "mode": "edit",
                                "name": "fldpRQwTwNjUpc9UD",
                                "type": "select",
                                "label": "Select"
                            },
                            {
                                "name": "fldLLFHExgG8c6sXN",
                                "type": "text",
                                "label": "Ticket Link - Internal Project Plan "
                            },
                            {
                                "name": "fldzqcyINDA2kUSWV",
                                "type": "number",
                                "label": "Duration"
                            },
                            {
                                "name": "fldetkOjDYndToVAY",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Predecessor"
                            },
                            {
                                "name": "fldhcekyCllrsPk61",
                                "type": "text",
                                "label": "Pontus Slack Thread Link"
                            },
                            {
                                "mode": "edit",
                                "name": "fldEDJ8MR09LA4rbh",
                                "type": "select",
                                "label": "Slack Channel"
                            },
                            {
                                "name": "fldVFvW9xnMBBa84M",
                                "time": true,
                                "type": "date",
                                "label": "Slack thread sent date and time"
                            },
                            {
                                "name": "fldRrAhauRWXo3xla",
                                "time": true,
                                "type": "date",
                                "label": "Pontus Slack Thread Sent Date and time"
                            },
                            {
                                "name": "fldaTMqyJv7mpFobh",
                                "type": "text",
                                "label": "slack thread message ID"
                            },
                            {
                                "name": "fld57QbssuIXXjf3f",
                                "type": "text",
                                "label": " slack channel ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Task ID",
                        "type": "text",
                        "label": "Task ID"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "sync to internal dev",
                        "type": "text",
                        "label": "sync to internal dev"
                    },
                    {
                        "name": "TYPE (from Project)",
                        "type": "array",
                        "label": "TYPE (from Project)"
                    },
                    {
                        "name": "RECORDID",
                        "type": "text",
                        "label": "RECORDID"
                    },
                    {
                        "name": "TYPE",
                        "type": "text",
                        "label": "TYPE"
                    },
                    {
                        "name": "ID_EXT",
                        "type": "text",
                        "label": "ID_EXT"
                    },
                    {
                        "name": "Start Date",
                        "time": false,
                        "type": "date",
                        "label": "Start Date"
                    },
                    {
                        "name": "PM",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "PM"
                    },
                    {
                        "name": "Code (from Project)",
                        "type": "array",
                        "label": "Code (from Project)"
                    },
                    {
                        "name": "Legacy_Short Description",
                        "type": "text",
                        "label": "Legacy_Short Description"
                    },
                    {
                        "name": "Assignee (from Users)",
                        "type": "array",
                        "label": "Assignee (from Users)"
                    },
                    {
                        "name": "Legacy_Long Description",
                        "type": "text",
                        "label": "Legacy_Long Description",
                        "multiline": true
                    },
                    {
                        "name": "RFM ID",
                        "type": "text",
                        "label": "RFM ID"
                    },
                    {
                        "name": "ID",
                        "type": "number",
                        "label": "ID"
                    },
                    {
                        "name": "Users_Fortmatted",
                        "type": "text",
                        "label": "Users_Fortmatted"
                    },
                    {
                        "name": "Attachment",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Attachment"
                    },
                    {
                        "name": "Assignee",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "Assignee"
                    },
                    {
                        "name": "End Date",
                        "time": false,
                        "type": "date",
                        "label": "End Date"
                    },
                    {
                        "name": "Users",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Users"
                    },
                    {
                        "name": "Task Name",
                        "type": "text",
                        "label": "Task Name"
                    },
                    {
                        "name": "Description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "Checklist",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Checklist"
                    },
                    {
                        "name": "Project",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Project"
                    },
                    {
                        "name": "Phase",
                        "type": "array",
                        "label": "Phase"
                    },
                    {
                        "name": "Desription",
                        "type": "array",
                        "label": "Desription"
                    },
                    {
                        "name": "Task",
                        "type": "array",
                        "label": "Task"
                    },
                    {
                        "name": "Kunder",
                        "type": "array",
                        "label": "Kunder"
                    },
                    {
                        "name": "Phase (from Project)",
                        "type": "array",
                        "label": "Phase (from Project)"
                    },
                    {
                        "name": "RFM Internal details",
                        "type": "text",
                        "label": "RFM Internal details"
                    },
                    {
                        "name": "Interface (from Project)",
                        "type": "array",
                        "label": "Interface (from Project)"
                    },
                    {
                        "name": "Calculation",
                        "type": "text",
                        "label": "Calculation"
                    },
                    {
                        "name": "Show in reformatizer interface (from Project)",
                        "type": "array",
                        "label": "Show in reformatizer interface (from Project)"
                    },
                    {
                        "name": "Created By",
                        "type": "text",
                        "label": "Created By"
                    },
                    {
                        "name": "Select",
                        "type": "text",
                        "label": "Select"
                    },
                    {
                        "name": "TODAY",
                        "type": "text",
                        "label": "TODAY"
                    },
                    {
                        "name": "Ticket Link - Internal Project Plan ",
                        "type": "text",
                        "label": "Ticket Link - Internal Project Plan "
                    },
                    {
                        "name": "Created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "Count (Project)",
                        "type": "number",
                        "label": "Count (Project)"
                    },
                    {
                        "name": "Duration",
                        "type": "number",
                        "label": "Duration"
                    },
                    {
                        "name": "Predecessor",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Predecessor"
                    },
                    {
                        "name": "Pontus Slack Thread Link",
                        "type": "text",
                        "label": "Pontus Slack Thread Link"
                    },
                    {
                        "name": "Pontus Team Slack Channel",
                        "type": "array",
                        "label": "Pontus Team Slack Channel"
                    },
                    {
                        "name": "Slack Channel",
                        "type": "text",
                        "label": "Slack Channel"
                    },
                    {
                        "name": "Slack thread sent date and time",
                        "time": true,
                        "type": "date",
                        "label": "Slack thread sent date and time"
                    },
                    {
                        "name": "My Task Interface Link-Pontus",
                        "type": "text",
                        "label": "My Task Interface Link-Pontus"
                    },
                    {
                        "name": "now",
                        "type": "text",
                        "label": "now"
                    },
                    {
                        "name": "Pontus Slack Thread Sent Date and time",
                        "time": true,
                        "type": "date",
                        "label": "Pontus Slack Thread Sent Date and time"
                    },
                    {
                        "name": "slack thread message ID",
                        "type": "text",
                        "label": "slack thread message ID"
                    },
                    {
                        "name": " slack channel ID",
                        "type": "text",
                        "label": " slack channel ID"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 6,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 215,
                            "y": 29
                        }
                    }
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}