Check the active scenario (2024 API)/Check the active scenario (2024 API).json
{
    "name": "Check the active scenario (2024 API)",
    "flow": [
        {
            "id": 1,
            "module": "make:listScenarios",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 446435
            },
            "mapper": {
                "team": 8555,
                "limit": "1000",
                "folder": 34313,
                "organization": 10427
            },
            "metadata": {
                "designer": {
                    "x": -293,
                    "y": 144
                },
                "restore": {
                    "expect": {
                        "cols": {
                            "mode": "chose"
                        },
                        "team": {
                            "mode": "chose",
                            "label": "My Team"
                        },
                        "folder": {
                            "mode": "chose",
                            "label": "Active"
                        },
                        "islinked": {
                            "mode": "chose"
                        },
                        "organization": {
                            "mode": "chose",
                            "label": "Homestyling"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "make"
                            },
                            "label": "Homestyle Make Connection (homestyleintegrations@labbmiljo.se)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:make",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "organization",
                        "type": "select",
                        "label": "Organization ID"
                    },
                    {
                        "name": "islinked",
                        "type": "boolean",
                        "label": "Only Active Scenarios"
                    },
                    {
                        "name": "cols",
                        "type": "select",
                        "label": "Fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "id",
                                "name",
                                "teamId",
                                "hookId",
                                "deviceId",
                                "deviceScope",
                                "description",
                                "folderId",
                                "isinvalid",
                                "islinked",
                                "islocked",
                                "isPaused",
                                "usedPackages",
                                "lastEdit",
                                "scheduling",
                                "iswaiting",
                                "dlqCount"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "team",
                        "type": "select",
                        "label": "Team ID"
                    },
                    {
                        "name": "folder",
                        "type": "select",
                        "label": "Folder ID"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "make:listScenarioLogs",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 446435
            },
            "mapper": {
                "limit": "1",
                "scenario": "{{1.id}}"
            },
            "metadata": {
                "designer": {
                    "x": -25,
                    "y": 159
                },
                "restore": {
                    "expect": {
                        "status": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "showCheckRuns": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "make"
                            },
                            "label": "Homestyle Make Connection (homestyleintegrations@labbmiljo.se)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:make",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "scenario",
                        "type": "text",
                        "label": "Scenario ID",
                        "required": true
                    },
                    {
                        "name": "from",
                        "time": true,
                        "type": "date",
                        "label": "From"
                    },
                    {
                        "name": "to",
                        "time": true,
                        "type": "date",
                        "label": "To"
                    },
                    {
                        "name": "status",
                        "type": "select",
                        "label": "Status",
                        "validate": {
                            "enum": [
                                "1",
                                "2",
                                "3"
                            ]
                        }
                    },
                    {
                        "name": "showCheckRuns",
                        "type": "boolean",
                        "label": "Show Check Runs"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 15,
                    "module": "builtin:Commit",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 275,
                            "y": 309
                        }
                    }
                }
            ]
        },
        {
            "id": 9,
            "module": "make:getAScenarioTrigger",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 446435
            },
            "mapper": {
                "scenario": "{{1.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 275,
                    "y": 9
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "make"
                            },
                            "label": "Homestyle Make Connection (homestyleintegrations@labbmiljo.se)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:make",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "scenario",
                        "type": "text",
                        "label": "Scenario ID",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 16,
                    "module": "builtin:Commit",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 575,
                            "y": 159
                        }
                    }
                }
            ]
        },
        {
            "id": 5,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 575,
                    "y": -141
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "airtable:ActionSearchRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2311364
                            },
                            "mapper": {
                                "base": "appfQ9VT1mopmQZEn",
                                "table": "Table 1",
                                "formula": "{Scenario ID} = \"{{1.id}}\"",
                                "maxRecords": "1",
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "mode": "chose",
                                            "label": "Homestyling Scenario Status"
                                        },
                                        "sort": {
                                            "mode": "chose"
                                        },
                                        "view": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "Table 1"
                                        },
                                        "fields": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "homestyling OATH (User ID: usrqfoHur4casC5Tt)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "maxRecords",
                                        "type": "integer",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "field",
                                                "type": "select",
                                                "label": "Field",
                                                "dynamic": true,
                                                "options": []
                                            },
                                            {
                                                "name": "direction",
                                                "type": "select",
                                                "label": "Direction",
                                                "options": [
                                                    {
                                                        "label": "Descending",
                                                        "value": "desc"
                                                    },
                                                    {
                                                        "label": "Ascending",
                                                        "value": "asc"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "view",
                                        "type": "select",
                                        "label": "View"
                                    },
                                    {
                                        "name": "fields",
                                        "type": "select",
                                        "label": "Output Fields",
                                        "multiple": true
                                    },
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "maxRecords",
                                        "type": "integer",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "field",
                                                "type": "select",
                                                "label": "Field",
                                                "dynamic": true,
                                                "options": []
                                            },
                                            {
                                                "name": "direction",
                                                "type": "select",
                                                "label": "Direction",
                                                "options": [
                                                    {
                                                        "label": "Descending",
                                                        "value": "desc"
                                                    },
                                                    {
                                                        "label": "Ascending",
                                                        "value": "asc"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "view",
                                        "type": "select",
                                        "label": "View"
                                    },
                                    {
                                        "name": "fields",
                                        "type": "select",
                                        "label": "Output Fields",
                                        "multiple": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Scenario Name",
                                        "type": "text",
                                        "label": "Scenario Name"
                                    },
                                    {
                                        "name": "Importance",
                                        "type": "text",
                                        "label": "Importance"
                                    },
                                    {
                                        "name": "Last Scenario Log Timestamp",
                                        "time": true,
                                        "type": "date",
                                        "label": "Last Scenario Log Timestamp"
                                    },
                                    {
                                        "name": "Last Scenario Log Type",
                                        "type": "text",
                                        "label": "Last Scenario Log Type"
                                    },
                                    {
                                        "name": "Error Note",
                                        "type": "text",
                                        "label": "Error Note",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Queue Count",
                                        "type": "number",
                                        "label": "Queue Count"
                                    },
                                    {
                                        "name": "Is Invalid",
                                        "type": "text",
                                        "label": "Is Invalid"
                                    },
                                    {
                                        "name": "Last Execution Status",
                                        "type": "text",
                                        "label": "Last Execution Status"
                                    },
                                    {
                                        "name": "Is Pause",
                                        "type": "text",
                                        "label": "Is Pause"
                                    },
                                    {
                                        "name": "Is Locked",
                                        "type": "text",
                                        "label": "Is Locked"
                                    },
                                    {
                                        "name": "Scenario ID",
                                        "type": "text",
                                        "label": "Scenario ID"
                                    },
                                    {
                                        "name": "Url To Scenario",
                                        "type": "text",
                                        "label": "Url To Scenario"
                                    },
                                    {
                                        "name": "Generate request",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Generate request"
                                    },
                                    {
                                        "name": "RecordID",
                                        "type": "text",
                                        "label": "RecordID"
                                    },
                                    {
                                        "name": "Webhook",
                                        "type": "text",
                                        "label": "Webhook"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 13,
                                    "module": "builtin:Commit",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 1200,
                                            "y": 450
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "id": 6,
                            "module": "airtable:upsertRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2311364
                            },
                            "mapper": {
                                "base": "appfQ9VT1mopmQZEn",
                                "table": "Table 1",
                                "record": {
                                    "fld1H1BeDyD0pGSz1": "{{9.queueCount}}",
                                    "fldCVC6MS6q9Vy76j": "{{capitalize(1.isPaused)}}",
                                    "fldJDjboOLcNnmZwY": "{{1.name}}",
                                    "fldM942f1fmx6LmGP": "{{2.statusLabel}}",
                                    "fldPDnTT6zxxChO3Y": "{{2.timestamp}}",
                                    "fldQPqP0LqHFhpeI8": "{{capitalize(1.islocked)}}",
                                    "fldaZ19OhNi9r0xX5": "{{1.id}}",
                                    "fldeU96yG219tCSus": "{{2.type}}",
                                    "fldgsKeAgnSDgvkvK": "{{ifempty(2.detail.reason; emptystring)}}",
                                    "fldkOx3B7uZYHPFQ3": "{{capitalize(1.isinvalid)}}"
                                },
                                "recordId": "{{4.id}}",
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Homestyling Scenario Status"
                                        },
                                        "table": {
                                            "label": "Table 1"
                                        },
                                        "record": {
                                            "nested": {
                                                "fld4hyOg5mO0Px8RC": {
                                                    "mode": "chose"
                                                },
                                                "fldCVC6MS6q9Vy76j": {
                                                    "mode": "edit"
                                                },
                                                "fldM942f1fmx6LmGP": {
                                                    "mode": "edit"
                                                },
                                                "fldQPqP0LqHFhpeI8": {
                                                    "mode": "edit"
                                                },
                                                "fldkOx3B7uZYHPFQ3": {
                                                    "mode": "edit"
                                                },
                                                "fldvcijsWFba2B0tP": {
                                                    "mode": "edit"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "homestyling OATH (User ID: usrqfoHur4casC5Tt)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "recordId",
                                        "type": "text",
                                        "label": "Record ID"
                                    },
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "recordId",
                                        "type": "text",
                                        "label": "Record ID"
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldJDjboOLcNnmZwY",
                                                "type": "text",
                                                "label": "Scenario Name"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldvcijsWFba2B0tP",
                                                "type": "select",
                                                "label": "Importance"
                                            },
                                            {
                                                "name": "fldPDnTT6zxxChO3Y",
                                                "time": true,
                                                "type": "date",
                                                "label": "Last Scenario Log Timestamp"
                                            },
                                            {
                                                "name": "fldeU96yG219tCSus",
                                                "type": "text",
                                                "label": "Last Scenario Log Type"
                                            },
                                            {
                                                "name": "fldgsKeAgnSDgvkvK",
                                                "type": "text",
                                                "label": "Error Note"
                                            },
                                            {
                                                "name": "fld1H1BeDyD0pGSz1",
                                                "type": "number",
                                                "label": "Queue Count"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldkOx3B7uZYHPFQ3",
                                                "type": "select",
                                                "label": "Is Invalid"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldM942f1fmx6LmGP",
                                                "type": "select",
                                                "label": "Last Execution Status"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldCVC6MS6q9Vy76j",
                                                "type": "select",
                                                "label": "Is Pause"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldQPqP0LqHFhpeI8",
                                                "type": "select",
                                                "label": "Is Locked"
                                            },
                                            {
                                                "name": "fldaZ19OhNi9r0xX5",
                                                "type": "text",
                                                "label": "Scenario ID"
                                            },
                                            {
                                                "name": "fld4hyOg5mO0Px8RC",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Generate request"
                                            },
                                            {
                                                "name": "fldcymTONy5QS8a33",
                                                "type": "text",
                                                "label": "Webhook"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Scenario Name",
                                        "type": "text",
                                        "label": "Scenario Name"
                                    },
                                    {
                                        "name": "Importance",
                                        "type": "text",
                                        "label": "Importance"
                                    },
                                    {
                                        "name": "Last Scenario Log Timestamp",
                                        "time": true,
                                        "type": "date",
                                        "label": "Last Scenario Log Timestamp"
                                    },
                                    {
                                        "name": "Last Scenario Log Type",
                                        "type": "text",
                                        "label": "Last Scenario Log Type"
                                    },
                                    {
                                        "name": "Error Note",
                                        "type": "text",
                                        "label": "Error Note",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Queue Count",
                                        "type": "number",
                                        "label": "Queue Count"
                                    },
                                    {
                                        "name": "Is Invalid",
                                        "type": "text",
                                        "label": "Is Invalid"
                                    },
                                    {
                                        "name": "Last Execution Status",
                                        "type": "text",
                                        "label": "Last Execution Status"
                                    },
                                    {
                                        "name": "Is Pause",
                                        "type": "text",
                                        "label": "Is Pause"
                                    },
                                    {
                                        "name": "Is Locked",
                                        "type": "text",
                                        "label": "Is Locked"
                                    },
                                    {
                                        "name": "Scenario ID",
                                        "type": "text",
                                        "label": "Scenario ID"
                                    },
                                    {
                                        "name": "Url To Scenario",
                                        "type": "text",
                                        "label": "Url To Scenario"
                                    },
                                    {
                                        "name": "Generate request",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Generate request"
                                    },
                                    {
                                        "name": "RecordID",
                                        "type": "text",
                                        "label": "RecordID"
                                    },
                                    {
                                        "name": "Webhook",
                                        "type": "text",
                                        "label": "Webhook"
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 14,
                                    "module": "builtin:Commit",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 1500,
                                            "y": 150
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}