N8N Webflow Executions/N8N Webflow Executions.json
{
    "name": "N8N Webflow Executions | Should be active",
    "flow": [
        {
            "id": 41,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 1359900
            },
            "mapper": {
                "base": "appQuSVMDia8nRosT",
                "sort": [
                    {
                        "field": "Start Execution Date",
                        "direction": "desc"
                    }
                ],
                "table": "tblXAwVKKGXnjJxUl",
                "fields": [
                    "Name",
                    "Scenario",
                    "Start Execution Date",
                    "End Execution Date"
                ],
                "formula": "{Scenario} = \"N8N Webflow Executions\"",
                "maxRecords": "1",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 600,
                    "name": "get last run"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Automation Supervisor Base"
                        },
                        "sort": {
                            "mode": "chose",
                            "items": [
                                {
                                    "field": {
                                        "mode": "chose",
                                        "label": "Start Execution Date"
                                    },
                                    "direction": {
                                        "mode": "chose",
                                        "label": "Descending"
                                    }
                                }
                            ]
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Log Table"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Name",
                                "Scenario",
                                "Start Execution Date",
                                "End Execution Date"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "rhgroupdevb(API 2024)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "Scenario",
                        "type": "text",
                        "label": "Scenario"
                    },
                    {
                        "name": "Start Execution Date",
                        "time": true,
                        "type": "date",
                        "label": "Start Execution Date"
                    },
                    {
                        "name": "End Execution Date",
                        "time": true,
                        "type": "date",
                        "label": "End Execution Date"
                    }
                ]
            }
        },
        {
            "id": 34,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 1359900
            },
            "mapper": {
                "base": "appQuSVMDia8nRosT",
                "table": "tblXAwVKKGXnjJxUl",
                "record": {
                    "fldHFNe1WeXGBMebq": "{{now}}",
                    "fldbisd1ItVN6BLS4": "N8N Webflow Executions"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 600,
                    "name": "Set Started Running"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Automation Supervisor Base"
                        },
                        "table": {
                            "label": "Log Table",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldbisd1ItVN6BLS4",
                                            "type": "text",
                                            "label": "Scenario"
                                        },
                                        {
                                            "name": "fldHFNe1WeXGBMebq",
                                            "time": true,
                                            "type": "date",
                                            "label": "Date Start Executed"
                                        },
                                        {
                                            "name": "fldHdWhiYlMJNewXG",
                                            "time": true,
                                            "type": "date",
                                            "label": "Date End Executed"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "rhgroupdevb(API 2024)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldbisd1ItVN6BLS4",
                                "type": "text",
                                "label": "Scenario"
                            },
                            {
                                "name": "fldHFNe1WeXGBMebq",
                                "time": true,
                                "type": "date",
                                "label": "Date Start Executed"
                            },
                            {
                                "name": "fldHdWhiYlMJNewXG",
                                "time": true,
                                "type": "date",
                                "label": "Date End Executed"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "Scenario",
                        "type": "text",
                        "label": "Scenario"
                    },
                    {
                        "name": "Start Execution Date",
                        "time": true,
                        "type": "date",
                        "label": "Start Execution Date"
                    },
                    {
                        "name": "End Execution Date",
                        "time": true,
                        "type": "date",
                        "label": "End Execution Date"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [
                    {
                        "name": "status",
                        "value": "error"
                    },
                    {
                        "name": "limit",
                        "value": "200"
                    }
                ],
                "url": "https://automation.offertizer.com/api/v1/executions",
                "gzip": true,
                "method": "get",
                "headers": [
                    {
                        "name": "X-N8N-API-KEY",
                        "value": "n8n_api_26c0f6d4037d0b02e3d43e0ed3e4e90794a881972470af1a783c00bdcbdf46ff6113a51a7bcce15b"
                    },
                    {
                        "name": "accept",
                        "value": "application/json"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 600,
                    "name": "Get Execution"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 25,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 600
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 44,
                            "module": "airtable:ActionSearchRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 1359900
                            },
                            "mapper": {
                                "base": "appQuSVMDia8nRosT",
                                "table": "tblp3PALg3AQZj7xS",
                                "fields": [
                                    "Name",
                                    "Workflow ID",
                                    "N8N Server",
                                    "Workflow Link",
                                    "Download executions",
                                    "Workflow Name",
                                    "Active",
                                    "Version ID",
                                    "Trigger Count",
                                    "Executions",
                                    "Project",
                                    "Last failed execution",
                                    "Last execution's status",
                                    "Description",
                                    "Workflow createdAt",
                                    "Workflow updatedAt",
                                    "tags",
                                    "M/Lan comments"
                                ],
                                "formula": "{Download executions} = \"yes\"",
                                "maxRecords": "1000",
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0,
                                    "name": "search if active WorkFlow"
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "mode": "chose",
                                            "label": "Automation Supervisor Base"
                                        },
                                        "sort": {
                                            "mode": "chose"
                                        },
                                        "view": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "Workflow"
                                        },
                                        "fields": {
                                            "mode": "chose",
                                            "label": [
                                                "Name",
                                                "Workflow ID",
                                                "N8N Server",
                                                "Workflow Link",
                                                "Download executions",
                                                "Workflow Name",
                                                "Active",
                                                "Version ID",
                                                "Trigger Count",
                                                "Executions",
                                                "Project",
                                                "Last failed execution",
                                                "Last execution's status",
                                                "Description",
                                                "Workflow createdAt",
                                                "Workflow updatedAt",
                                                "tags",
                                                "M/Lan comments"
                                            ]
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "rhgroupdevb(API 2024)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "maxRecords",
                                        "type": "integer",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "field",
                                                "type": "select",
                                                "label": "Field",
                                                "dynamic": true,
                                                "options": []
                                            },
                                            {
                                                "name": "direction",
                                                "type": "select",
                                                "label": "Direction",
                                                "options": [
                                                    {
                                                        "label": "Descending",
                                                        "value": "desc"
                                                    },
                                                    {
                                                        "label": "Ascending",
                                                        "value": "asc"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "view",
                                        "type": "select",
                                        "label": "View"
                                    },
                                    {
                                        "name": "fields",
                                        "type": "select",
                                        "label": "Output Fields",
                                        "multiple": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "Workflow ID",
                                        "type": "text",
                                        "label": "Workflow ID"
                                    },
                                    {
                                        "name": "N8N Server",
                                        "type": "text",
                                        "label": "N8N Server"
                                    },
                                    {
                                        "name": "Workflow Link",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Workflow Link"
                                    },
                                    {
                                        "name": "Download executions",
                                        "type": "text",
                                        "label": "Download executions"
                                    },
                                    {
                                        "name": "Workflow Name",
                                        "type": "text",
                                        "label": "Workflow Name"
                                    },
                                    {
                                        "name": "Active",
                                        "type": "text",
                                        "label": "Active"
                                    },
                                    {
                                        "name": "Version ID",
                                        "type": "text",
                                        "label": "Version ID"
                                    },
                                    {
                                        "name": "Trigger Count",
                                        "type": "text",
                                        "label": "Trigger Count"
                                    },
                                    {
                                        "name": "Executions",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Executions"
                                    },
                                    {
                                        "name": "Project",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Project"
                                    },
                                    {
                                        "name": "Last failed execution",
                                        "type": "array",
                                        "label": "Last failed execution"
                                    },
                                    {
                                        "name": "Last execution's status",
                                        "type": "array",
                                        "label": "Last execution's status"
                                    },
                                    {
                                        "name": "Description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "Workflow createdAt",
                                        "time": true,
                                        "type": "date",
                                        "label": "Workflow createdAt"
                                    },
                                    {
                                        "name": "Workflow updatedAt",
                                        "time": true,
                                        "type": "date",
                                        "label": "Workflow updatedAt"
                                    },
                                    {
                                        "name": "tags",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "tags"
                                    },
                                    {
                                        "name": "M/Lan comments",
                                        "type": "text",
                                        "label": "M/Lan comments"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 42,
                            "module": "airtable:upsertRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 1359900
                            },
                            "mapper": {
                                "base": "appQuSVMDia8nRosT",
                                "table": "tblp3PALg3AQZj7xS",
                                "record": {
                                    "fldrqONOoDyVWzYEt": "{{now}}"
                                },
                                "recordId": "{{44.id}}",
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Automation Supervisor Base"
                                        },
                                        "table": {
                                            "label": "Workflow"
                                        },
                                        "record": {
                                            "nested": {
                                                "fld0Cx2Uu0grhhlLs": {
                                                    "mode": "chose"
                                                },
                                                "fldNsPfoE7WpX5sS5": {
                                                    "mode": "edit"
                                                },
                                                "fldUzYavwFdh1eoIC": {
                                                    "mode": "chose"
                                                },
                                                "fldVPhWBIcKzwP2b8": {
                                                    "mode": "edit"
                                                },
                                                "fldX1UINtRW9dzT04": {
                                                    "mode": "edit"
                                                },
                                                "fldq64XG3iJINT1mM": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "rhgroupdevb(API 2024)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "recordId",
                                        "type": "text",
                                        "label": "Record ID"
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldV1lGMQgfkajT1j",
                                                "type": "text",
                                                "label": "Workflow ID"
                                            },
                                            {
                                                "name": "fldrL1qyXQFxxmKjI",
                                                "type": "text",
                                                "label": "N8N Server"
                                            },
                                            {
                                                "name": "fldrqONOoDyVWzYEt",
                                                "time": true,
                                                "type": "date",
                                                "label": "Last Checked Failed Executions Time"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldNsPfoE7WpX5sS5",
                                                "type": "select",
                                                "label": "Download executions"
                                            },
                                            {
                                                "name": "fldrzYGESaEkRmXmX",
                                                "type": "text",
                                                "label": "Workflow Name"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldVPhWBIcKzwP2b8",
                                                "type": "select",
                                                "label": "Active"
                                            },
                                            {
                                                "name": "fld6Y2dFQISOxMqSS",
                                                "type": "text",
                                                "label": "Version ID"
                                            },
                                            {
                                                "name": "fldgaDW6HwPhQM1hP",
                                                "type": "text",
                                                "label": "Trigger Count"
                                            },
                                            {
                                                "name": "fldUzYavwFdh1eoIC",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Executions"
                                            },
                                            {
                                                "name": "fldq64XG3iJINT1mM",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Project"
                                            },
                                            {
                                                "name": "fldCDdDJrQYPgaDHT",
                                                "type": "text",
                                                "label": "Description"
                                            },
                                            {
                                                "name": "fldjKF88Z8Lvqip3W",
                                                "time": true,
                                                "type": "date",
                                                "label": "Workflow createdAt"
                                            },
                                            {
                                                "name": "flduHL7ZPBbgNGchr",
                                                "time": true,
                                                "type": "date",
                                                "label": "Workflow updatedAt"
                                            },
                                            {
                                                "name": "fld0Cx2Uu0grhhlLs",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "tags"
                                            },
                                            {
                                                "name": "fldvNjHFHUWjWon9I",
                                                "type": "text",
                                                "label": "M/Lan comments"
                                            },
                                            {
                                                "name": "fldqcXiOGKV4ykpOf",
                                                "time": true,
                                                "type": "date",
                                                "label": "Last Workflow Details Download"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldX1UINtRW9dzT04",
                                                "type": "select",
                                                "label": "Priority? "
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "Workflow ID",
                                        "type": "text",
                                        "label": "Workflow ID"
                                    },
                                    {
                                        "name": "N8N Server",
                                        "type": "text",
                                        "label": "N8N Server"
                                    },
                                    {
                                        "name": "Workflow Link",
                                        "spec": [
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Workflow Link"
                                    },
                                    {
                                        "name": "Last Checked Failed Executions Time",
                                        "time": true,
                                        "type": "date",
                                        "label": "Last Checked Failed Executions Time"
                                    },
                                    {
                                        "name": "Download executions",
                                        "type": "text",
                                        "label": "Download executions"
                                    },
                                    {
                                        "name": "Workflow Name",
                                        "type": "text",
                                        "label": "Workflow Name"
                                    },
                                    {
                                        "name": "Active",
                                        "type": "text",
                                        "label": "Active"
                                    },
                                    {
                                        "name": "Version ID",
                                        "type": "text",
                                        "label": "Version ID"
                                    },
                                    {
                                        "name": "Trigger Count",
                                        "type": "text",
                                        "label": "Trigger Count"
                                    },
                                    {
                                        "name": "Executions",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Executions"
                                    },
                                    {
                                        "name": "Project",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Project"
                                    },
                                    {
                                        "name": "Last failed execution",
                                        "type": "array",
                                        "label": "Last failed execution"
                                    },
                                    {
                                        "name": "Last execution's status",
                                        "type": "array",
                                        "label": "Last execution's status"
                                    },
                                    {
                                        "name": "Description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "Workflow createdAt",
                                        "time": true,
                                        "type": "date",
                                        "label": "Workflow createdAt"
                                    },
                                    {
                                        "name": "Workflow updatedAt",
                                        "time": true,
                                        "type": "date",
                                        "label": "Workflow updatedAt"
                                    },
                                    {
                                        "name": "tags",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "tags"
                                    },
                                    {
                                        "name": "M/Lan comments",
                                        "type": "text",
                                        "label": "M/Lan comments"
                                    },
                                    {
                                        "name": "Last Workflow Details Download",
                                        "time": true,
                                        "type": "date",
                                        "label": "Last Workflow Details Download"
                                    },
                                    {
                                        "name": "Priority? ",
                                        "type": "text",
                                        "label": "Priority? "
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "array": "{{5.data.data}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 23,
                            "module": "airtable:ActionSearchRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 1359900
                            },
                            "mapper": {
                                "base": "appQuSVMDia8nRosT",
                                "table": "tblp3PALg3AQZj7xS",
                                "fields": [
                                    "Name",
                                    "Download executions",
                                    "Workflow Name",
                                    "Workflow ID",
                                    "Active",
                                    "Version ID",
                                    "Trigger Count",
                                    "Executions",
                                    "Project",
                                    "Last failed execution",
                                    "Last execution's status",
                                    "Description",
                                    "Workflow createdAt",
                                    "Workflow updatedAt",
                                    "tags",
                                    "M/Lan comments",
                                    "N8N Server",
                                    "Workflow Link"
                                ],
                                "formula": "AND({Download executions} = \"yes\",{Workflow ID} = \"{{7.workflowId}}\")",
                                "maxRecords": "1000",
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 600,
                                    "name": "search if active WorkFlow"
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "mode": "chose",
                                            "label": "Automation Supervisor Base"
                                        },
                                        "sort": {
                                            "mode": "chose"
                                        },
                                        "view": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "Workflow"
                                        },
                                        "fields": {
                                            "mode": "chose",
                                            "label": [
                                                "Name",
                                                "Download executions",
                                                "Workflow Name",
                                                "Workflow ID",
                                                "Active",
                                                "Version ID",
                                                "Trigger Count",
                                                "Executions",
                                                "Project",
                                                "Last failed execution",
                                                "Last execution's status",
                                                "Description",
                                                "Workflow createdAt",
                                                "Workflow updatedAt",
                                                "tags",
                                                "M/Lan comments",
                                                "N8N Server",
                                                "Workflow Link"
                                            ]
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "rhgroupdevb(API 2024)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "maxRecords",
                                        "type": "integer",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "field",
                                                "type": "select",
                                                "label": "Field",
                                                "dynamic": true,
                                                "options": []
                                            },
                                            {
                                                "name": "direction",
                                                "type": "select",
                                                "label": "Direction",
                                                "options": [
                                                    {
                                                        "label": "Descending",
                                                        "value": "desc"
                                                    },
                                                    {
                                                        "label": "Ascending",
                                                        "value": "asc"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "view",
                                        "type": "select",
                                        "label": "View"
                                    },
                                    {
                                        "name": "fields",
                                        "type": "select",
                                        "label": "Output Fields",
                                        "multiple": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "Download executions",
                                        "type": "text",
                                        "label": "Download executions"
                                    },
                                    {
                                        "name": "Workflow Name",
                                        "type": "text",
                                        "label": "Workflow Name"
                                    },
                                    {
                                        "name": "Workflow ID",
                                        "type": "text",
                                        "label": "Workflow ID"
                                    },
                                    {
                                        "name": "Active",
                                        "type": "text",
                                        "label": "Active"
                                    },
                                    {
                                        "name": "Version ID",
                                        "type": "text",
                                        "label": "Version ID"
                                    },
                                    {
                                        "name": "Trigger Count",
                                        "type": "text",
                                        "label": "Trigger Count"
                                    },
                                    {
                                        "name": "Executions",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Executions"
                                    },
                                    {
                                        "name": "Project",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Project"
                                    },
                                    {
                                        "name": "Latest execution date and time",
                                        "type": "array",
                                        "label": "Latest execution date and time"
                                    },
                                    {
                                        "name": "Last execution's status",
                                        "type": "array",
                                        "label": "Last execution's status"
                                    },
                                    {
                                        "name": "Description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "Workflow createdAt",
                                        "time": true,
                                        "type": "date",
                                        "label": "Workflow createdAt"
                                    },
                                    {
                                        "name": "Workflow updatedAt",
                                        "time": true,
                                        "type": "date",
                                        "label": "Workflow updatedAt"
                                    },
                                    {
                                        "name": "tags",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "tags"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "airtable:ActionSearchRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 1359900
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{23.id}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "base": "appQuSVMDia8nRosT",
                                "table": "tblprrjN80fnQSAtl",
                                "fields": [
                                    "Name",
                                    "Execution ID",
                                    "Finished",
                                    "Retry Of",
                                    "Retry Success Id",
                                    "Started At",
                                    "Stopped At",
                                    "workflow",
                                    "Wait Till"
                                ],
                                "formula": "{Execution ID} = \"{{7.id}}\"",
                                "maxRecords": "10",
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 600,
                                    "name": "search Execution"
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "mode": "chose",
                                            "label": "Automation Supervisor Base"
                                        },
                                        "sort": {
                                            "mode": "chose"
                                        },
                                        "view": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "Executions"
                                        },
                                        "fields": {
                                            "mode": "chose",
                                            "label": [
                                                "Name",
                                                "Execution ID",
                                                "Finished",
                                                "Retry Of",
                                                "Retry Success Id",
                                                "Started At",
                                                "Stopped At",
                                                "workflow",
                                                "Wait Till"
                                            ]
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "rhgroupdevb(API 2024)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "maxRecords",
                                        "type": "integer",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "field",
                                                "type": "select",
                                                "label": "Field",
                                                "dynamic": true,
                                                "options": []
                                            },
                                            {
                                                "name": "direction",
                                                "type": "select",
                                                "label": "Direction",
                                                "options": [
                                                    {
                                                        "label": "Descending",
                                                        "value": "desc"
                                                    },
                                                    {
                                                        "label": "Ascending",
                                                        "value": "asc"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "view",
                                        "type": "select",
                                        "label": "View"
                                    },
                                    {
                                        "name": "fields",
                                        "type": "select",
                                        "label": "Output Fields",
                                        "multiple": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "Execution ID",
                                        "type": "text",
                                        "label": "Execution ID"
                                    },
                                    {
                                        "name": "Finished",
                                        "type": "text",
                                        "label": "Finished"
                                    },
                                    {
                                        "name": "Retry Of",
                                        "type": "text",
                                        "label": "Retry Of"
                                    },
                                    {
                                        "name": "Retry Success Id",
                                        "type": "text",
                                        "label": "Retry Success Id"
                                    },
                                    {
                                        "name": "Started At",
                                        "time": true,
                                        "type": "date",
                                        "label": "Started At"
                                    },
                                    {
                                        "name": "Stopped At",
                                        "time": true,
                                        "type": "date",
                                        "label": "Stopped At"
                                    },
                                    {
                                        "name": "workflow",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "workflow"
                                    },
                                    {
                                        "name": "Wait Till",
                                        "type": "text",
                                        "label": "Wait Till"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 14,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 600
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 12,
                                            "module": "airtable:ActionSearchRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 1359900
                                            },
                                            "filter": {
                                                "name": "not found data",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{10.id}}",
                                                            "o": "notexist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "base": "appQuSVMDia8nRosT",
                                                "table": "tblp3PALg3AQZj7xS",
                                                "fields": [
                                                    "Name",
                                                    "Workflow Name",
                                                    "Workflow ID",
                                                    "Active",
                                                    "Version ID",
                                                    "Trigger Count",
                                                    "Executions"
                                                ],
                                                "formula": "{Workflow ID} = \"{{7.workflowId}}\"",
                                                "maxRecords": "10",
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 300,
                                                    "name": "Search Workflow"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "base": {
                                                            "mode": "chose",
                                                            "label": "Automation Supervisor Base"
                                                        },
                                                        "sort": {
                                                            "mode": "chose"
                                                        },
                                                        "view": {
                                                            "mode": "chose"
                                                        },
                                                        "table": {
                                                            "mode": "chose",
                                                            "label": "Webflows"
                                                        },
                                                        "fields": {
                                                            "mode": "chose",
                                                            "label": [
                                                                "Name",
                                                                "Workflow Name",
                                                                "Workflow ID",
                                                                "Active",
                                                                "Version ID",
                                                                "Trigger Count",
                                                                "Executions"
                                                            ]
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable2"
                                                            },
                                                            "label": "rhgroupdevb(API 2024)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "formula",
                                                        "type": "text",
                                                        "label": "Formula"
                                                    },
                                                    {
                                                        "name": "maxRecords",
                                                        "type": "integer",
                                                        "label": "Limit"
                                                    },
                                                    {
                                                        "name": "sort",
                                                        "spec": [
                                                            {
                                                                "name": "field",
                                                                "type": "select",
                                                                "label": "Field",
                                                                "dynamic": true,
                                                                "options": []
                                                            },
                                                            {
                                                                "name": "direction",
                                                                "type": "select",
                                                                "label": "Direction",
                                                                "options": [
                                                                    {
                                                                        "label": "Descending",
                                                                        "value": "desc"
                                                                    },
                                                                    {
                                                                        "label": "Ascending",
                                                                        "value": "asc"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Sort"
                                                    },
                                                    {
                                                        "name": "view",
                                                        "type": "select",
                                                        "label": "View"
                                                    },
                                                    {
                                                        "name": "fields",
                                                        "type": "select",
                                                        "label": "Output Fields",
                                                        "multiple": true
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "__IMTLENGTH__",
                                                        "type": "uinteger",
                                                        "label": "Total number of bundles"
                                                    },
                                                    {
                                                        "name": "__IMTINDEX__",
                                                        "type": "uinteger",
                                                        "label": "Bundle order position"
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "Workflow Name",
                                                        "type": "text",
                                                        "label": "Workflow Name"
                                                    },
                                                    {
                                                        "name": "Workflow ID",
                                                        "type": "text",
                                                        "label": "Workflow ID"
                                                    },
                                                    {
                                                        "name": "Active",
                                                        "type": "text",
                                                        "label": "Active"
                                                    },
                                                    {
                                                        "name": "Version ID",
                                                        "type": "text",
                                                        "label": "Version ID"
                                                    },
                                                    {
                                                        "name": "Trigger Count",
                                                        "type": "text",
                                                        "label": "Trigger Count"
                                                    },
                                                    {
                                                        "name": "Executions",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "Executions"
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 8,
                                            "module": "airtable:upsertRecord",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 1359900
                                            },
                                            "mapper": {
                                                "base": "appQuSVMDia8nRosT",
                                                "table": "tblprrjN80fnQSAtl",
                                                "record": {
                                                    "fld52sSYK6zQlTHz4": "{{7.id}}",
                                                    "fld65kicJtoGVpnRw": "{{7.retrySuccessId}}",
                                                    "fldj8zOthk9As4acK": "{{7.startedAt}}",
                                                    "fldlc3KAaXdQK28Wb": "{{7.mode}}",
                                                    "fldpoGSlovi4zQ4WH": "Error",
                                                    "fldpzqeZVRhTZ0kSD": "{{7.waitTill}}",
                                                    "fldv7Ed554ENSy4Jt": "{{12.id}}",
                                                    "fldwH8mkmixhDCpcl": "{{7.retryOf}}",
                                                    "fldyrJ6FVVJS2J7wS": "{{7.stoppedAt}}"
                                                },
                                                "recordId": "{{10.id}}",
                                                "typecast": false,
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 300,
                                                    "name": "Create Execution"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "base": {
                                                            "label": "Automation Supervisor Base"
                                                        },
                                                        "table": {
                                                            "label": "Executions"
                                                        },
                                                        "record": {
                                                            "nested": {
                                                                "fldpoGSlovi4zQ4WH": {
                                                                    "mode": "chose",
                                                                    "label": "Error"
                                                                },
                                                                "fldv7Ed554ENSy4Jt": {
                                                                    "mode": "edit"
                                                                }
                                                            }
                                                        },
                                                        "typecast": {
                                                            "mode": "chose"
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable2"
                                                            },
                                                            "label": "rhgroupdevb(API 2024)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "recordId",
                                                        "type": "text",
                                                        "label": "Record ID"
                                                    },
                                                    {
                                                        "name": "record",
                                                        "spec": [
                                                            {
                                                                "name": "fld52sSYK6zQlTHz4",
                                                                "type": "text",
                                                                "label": "Execution ID"
                                                            },
                                                            {
                                                                "name": "fldwH8mkmixhDCpcl",
                                                                "type": "text",
                                                                "label": "Retry Of"
                                                            },
                                                            {
                                                                "name": "fld65kicJtoGVpnRw",
                                                                "type": "text",
                                                                "label": "Retry Success Id"
                                                            },
                                                            {
                                                                "name": "fldj8zOthk9As4acK",
                                                                "time": true,
                                                                "type": "date",
                                                                "label": "Started At"
                                                            },
                                                            {
                                                                "name": "fldyrJ6FVVJS2J7wS",
                                                                "time": true,
                                                                "type": "date",
                                                                "label": "Stopped At"
                                                            },
                                                            {
                                                                "name": "fldv7Ed554ENSy4Jt",
                                                                "spec": {
                                                                    "name": "value",
                                                                    "label": "Record ID"
                                                                },
                                                                "type": "array",
                                                                "label": "workflow"
                                                            },
                                                            {
                                                                "name": "fldpzqeZVRhTZ0kSD",
                                                                "type": "text",
                                                                "label": "Wait Till"
                                                            },
                                                            {
                                                                "name": "fldlc3KAaXdQK28Wb",
                                                                "type": "text",
                                                                "label": "mode"
                                                            },
                                                            {
                                                                "mode": "edit",
                                                                "name": "fldpoGSlovi4zQ4WH",
                                                                "type": "select",
                                                                "label": "Remarks"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "Execution ID",
                                                        "type": "text",
                                                        "label": "Execution ID"
                                                    },
                                                    {
                                                        "name": "Finished",
                                                        "type": "text",
                                                        "label": "Finished"
                                                    },
                                                    {
                                                        "name": "Retry Of",
                                                        "type": "text",
                                                        "label": "Retry Of"
                                                    },
                                                    {
                                                        "name": "Retry Success Id",
                                                        "type": "text",
                                                        "label": "Retry Success Id"
                                                    },
                                                    {
                                                        "name": "Started At",
                                                        "time": true,
                                                        "type": "date",
                                                        "label": "Started At"
                                                    },
                                                    {
                                                        "name": "Stopped At",
                                                        "time": true,
                                                        "type": "date",
                                                        "label": "Stopped At"
                                                    },
                                                    {
                                                        "name": "workflow",
                                                        "spec": {
                                                            "label": "Record ID"
                                                        },
                                                        "type": "array",
                                                        "label": "workflow"
                                                    },
                                                    {
                                                        "name": "Wait Till",
                                                        "type": "text",
                                                        "label": "Wait Till"
                                                    },
                                                    {
                                                        "name": "mode",
                                                        "type": "text",
                                                        "label": "mode"
                                                    },
                                                    {
                                                        "name": "Status",
                                                        "type": "array",
                                                        "label": "Status"
                                                    },
                                                    {
                                                        "name": "Remarks",
                                                        "type": "text",
                                                        "label": "Remarks"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 21,
                                            "module": "json:ParseJSON",
                                            "version": 1,
                                            "parameters": {
                                                "type": ""
                                            },
                                            "filter": {
                                                "name": "found data",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{10.id}}",
                                                            "o": "exist"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "json": "{{10.id}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": 750,
                                                    "name": "Create Error to Stop Execution"
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "type": {
                                                            "label": "Choose a data structure"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "type",
                                                        "type": "udt",
                                                        "label": "Data structure"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "json",
                                                        "type": "text",
                                                        "label": "JSON string",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 37,
                                                    "module": "airtable:ActionUpdateRecords",
                                                    "version": 3,
                                                    "parameters": {
                                                        "__IMTCONN__": 1359900
                                                    },
                                                    "mapper": {
                                                        "id": "{{34.id}}",
                                                        "base": "appQuSVMDia8nRosT",
                                                        "table": "tblXAwVKKGXnjJxUl",
                                                        "record": {
                                                            "fldHdWhiYlMJNewXG": "{{now}}"
                                                        },
                                                        "typecast": false,
                                                        "useColumnId": false
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 2700,
                                                            "y": 900,
                                                            "name": "Set End Running"
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "base": {
                                                                    "label": "Automation Supervisor Base"
                                                                },
                                                                "table": {
                                                                    "label": "Log Table"
                                                                },
                                                                "typecast": {
                                                                    "mode": "chose"
                                                                },
                                                                "useColumnId": {
                                                                    "mode": "chose"
                                                                }
                                                            },
                                                            "parameters": {
                                                                "__IMTCONN__": {
                                                                    "data": {
                                                                        "scoped": "true",
                                                                        "connection": "airtable2"
                                                                    },
                                                                    "label": "rhgroupdevb(API 2024)"
                                                                }
                                                            }
                                                        },
                                                        "parameters": [
                                                            {
                                                                "name": "__IMTCONN__",
                                                                "type": "account:airtable3,airtable2",
                                                                "label": "Connection",
                                                                "required": true
                                                            }
                                                        ],
                                                        "expect": [
                                                            {
                                                                "name": "base",
                                                                "type": "select",
                                                                "label": "Base",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "typecast",
                                                                "type": "boolean",
                                                                "label": "Smart links",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "useColumnId",
                                                                "type": "boolean",
                                                                "label": "Use Column ID",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "table",
                                                                "type": "select",
                                                                "label": "Table",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Record ID",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "record",
                                                                "spec": [
                                                                    {
                                                                        "name": "fldbisd1ItVN6BLS4",
                                                                        "type": "text",
                                                                        "label": "Scenario"
                                                                    },
                                                                    {
                                                                        "name": "fldHFNe1WeXGBMebq",
                                                                        "time": true,
                                                                        "type": "date",
                                                                        "label": "Date Start Executed"
                                                                    },
                                                                    {
                                                                        "name": "fldHdWhiYlMJNewXG",
                                                                        "time": true,
                                                                        "type": "date",
                                                                        "label": "Date End Executed"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Record"
                                                            }
                                                        ],
                                                        "interface": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "createdTime",
                                                                "type": "date",
                                                                "label": "Created Time"
                                                            },
                                                            {
                                                                "name": "Name",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "Scenario",
                                                                "type": "text",
                                                                "label": "Scenario"
                                                            },
                                                            {
                                                                "name": "Date Start Executed",
                                                                "time": true,
                                                                "type": "date",
                                                                "label": "Date Start Executed"
                                                            },
                                                            {
                                                                "name": "Date End Executed",
                                                                "time": true,
                                                                "type": "date",
                                                                "label": "Date End Executed"
                                                            }
                                                        ]
                                                    }
                                                },
                                                {
                                                    "id": 22,
                                                    "module": "builtin:Commit",
                                                    "version": 1,
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 3000,
                                                            "y": 900
                                                        }
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 38,
                                            "module": "airtable:ActionUpdateRecords",
                                            "version": 3,
                                            "parameters": {
                                                "__IMTCONN__": 1359900
                                            },
                                            "mapper": {
                                                "id": "{{34.id}}",
                                                "base": "appQuSVMDia8nRosT",
                                                "table": "tblXAwVKKGXnjJxUl",
                                                "record": {
                                                    "fldHdWhiYlMJNewXG": "{{now}}"
                                                },
                                                "typecast": false,
                                                "useColumnId": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 600,
                                                    "name": "Set End Running"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "base": {
                                                            "label": "Automation Supervisor Base"
                                                        },
                                                        "table": {
                                                            "label": "Log Table"
                                                        },
                                                        "typecast": {
                                                            "mode": "chose"
                                                        },
                                                        "useColumnId": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "airtable2"
                                                            },
                                                            "label": "rhgroupdevb(API 2024)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:airtable3,airtable2",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "base",
                                                        "type": "select",
                                                        "label": "Base",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "typecast",
                                                        "type": "boolean",
                                                        "label": "Smart links",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "useColumnId",
                                                        "type": "boolean",
                                                        "label": "Use Column ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "Record ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "record",
                                                        "spec": [
                                                            {
                                                                "name": "fldbisd1ItVN6BLS4",
                                                                "type": "text",
                                                                "label": "Scenario"
                                                            },
                                                            {
                                                                "name": "fldHFNe1WeXGBMebq",
                                                                "time": true,
                                                                "type": "date",
                                                                "label": "Date Start Executed"
                                                            },
                                                            {
                                                                "name": "fldHdWhiYlMJNewXG",
                                                                "time": true,
                                                                "type": "date",
                                                                "label": "Date End Executed"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Record"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "id",
                                                        "type": "text",
                                                        "label": "ID"
                                                    },
                                                    {
                                                        "name": "createdTime",
                                                        "type": "date",
                                                        "label": "Created Time"
                                                    },
                                                    {
                                                        "name": "Name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "Scenario",
                                                        "type": "text",
                                                        "label": "Scenario"
                                                    },
                                                    {
                                                        "name": "Date Start Executed",
                                                        "time": true,
                                                        "type": "date",
                                                        "label": "Date Start Executed"
                                                    },
                                                    {
                                                        "name": "Date End Executed",
                                                        "time": true,
                                                        "type": "date",
                                                        "label": "Date End Executed"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 36,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 1359900
                            },
                            "mapper": {
                                "id": "{{34.id}}",
                                "base": "appQuSVMDia8nRosT",
                                "table": "tblXAwVKKGXnjJxUl",
                                "record": {
                                    "fldHdWhiYlMJNewXG": "{{now}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 1200,
                                    "name": "Set End Running"
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Automation Supervisor Base"
                                        },
                                        "table": {
                                            "label": "Log Table"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "rhgroupdevb(API 2024)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldbisd1ItVN6BLS4",
                                                "type": "text",
                                                "label": "Scenario"
                                            },
                                            {
                                                "name": "fldHFNe1WeXGBMebq",
                                                "time": true,
                                                "type": "date",
                                                "label": "Date Start Executed"
                                            },
                                            {
                                                "name": "fldHdWhiYlMJNewXG",
                                                "time": true,
                                                "type": "date",
                                                "label": "Date End Executed"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "Scenario",
                                        "type": "text",
                                        "label": "Scenario"
                                    },
                                    {
                                        "name": "Date Start Executed",
                                        "time": true,
                                        "type": "date",
                                        "label": "Date Start Executed"
                                    },
                                    {
                                        "name": "Date End Executed",
                                        "time": true,
                                        "type": "date",
                                        "label": "Date End Executed"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}